<script setup>
    import { ref, reactive, onMounted } from 'vue';
    import { Cruise, CruiseCrew, CruiseFirstNationContact } from "@/js/rov/models.js";
    import AddPerson from "@/views/popups/AddPerson.vue";
    import AddProgram from "@/views/popups/AddProgram.vue";
    import AddCruiseRole from "@/views/popups/AddCruiseRole.vue";
    import VueDatePicker from '@vuepic/vue-datepicker';
    import { Net } from "@/js/util.js";

    // Define external properties.
    // The app passed in from the parent view will have the following properties:
    // - cruise - A reference to a selected cruise.
    // - cruises - A list of cruises.
    // - ships
    // - people
    // - cruise roles
    // - programs
    // The app object is responsible for loading the cruises and lookups.
    const props = defineProps(['application', 'allowUpload']);
    
    const app = props.application;

    // Popup references.
    const program_popup = ref(null);
    const user_popup = ref(null);
    const role_popup = ref(null);

    const approvals = ['Not Approved', 'Pending', 'Approved'];
    
    /**
     * Add a program to the programs lookup.
     * @param {*} evt 
     */
    const addProgram = (evt) => {
        evt.preventDefault();
        app.cruise.addProgram(new CruiseProgram());
    }

    /**
     * Remove a program.
     * @param {*} p 
     * @param {*} evt 
     */
     const removeProgram = (p, evt) => {
        evt.preventDefault();
        app.cruise.removeProgram(p);
    }

    /**
     * Raise the create program popup.
     * @param {*} evt 
     */
     const createProgram = (evt) => {
        evt.preventDefault();
        program_popup.value.show();
    }

    /**
     * Add a crew member.
     * @param {*} evt 
     */
    const addCrew = (evt) => {
        evt.preventDefault();
        app.cruise.addCrew(new CruiseCrew());
    }

    /**
     * Remove a crew member.
     * @param {*} c 
     * @param {*} evt 
     */
     const removeCrew = (c, evt) => {
        evt.preventDefault();
        app.cruise.removeCrew(c);
    }

    /**
     * Create a person and add it to the crew list.
     * @param {*} evt 
     */
    const createPerson = (evt) => {
        evt.preventDefault();
        user_popup.value.show();
    }

    /**
     * Create a cruise role and add it to the list.
     * @param {*} evt 
     */
    const createRole = (evt) => {
        evt.preventDefault();
        role_popup.value.show();
    }

    /**
     * Add a First Nation contact.
     * @param {*} evt 
     */
    const addFNContact = (evt) => {
        evt.preventDefault();
        app.cruise.addFNContact(new CruiseFirstNationContact());
    }

    /**
     * Remove first nations contact.
     * @param {*} c 
     * @param {*} evt 
     */
     const removeFNContact = (c, evt) => {
        evt.preventDefault();
        app.cruise.removeFNContact(c);
    }

    /**
     * Create a new cruise and add it to the list.
     * @param {*} evt 
     */
    const addCruise = (evt) => {
        evt.preventDefault();
        app.cruise = new Cruise(); 
        app.cruises.push(app.cruise);
    }

    /**
     * Select a file.
     * @param {*} id 
     * @param {*} evt 
     */
     const selectFile = (id, evt) => {
        evt.preventDefault();
        document.querySelector(`#${id}`).click();
    }

    /**
     * Called when a file is selected. Assigns the file to the document object.
     * @param {*} id 
     * @param {*} document 
     * @param {*} evt 
     */
    const fileSelected = (id, document, evt) => {
        const file = evt.target.files[0];
        document.file_name = file.name;
        document.file_type = file.type;
        props.application.cruise.dirty = true; // Updating documents doesn't trigger dirty (which shows the save button) automatically.
    }

    /**
     * Add a document to the currently-selected cruise.
     * @param {*} evt 
     */
    const addDocument = (evt) => {
        evt.preventDefault();
        props.application.cruise.documents.push(new CruiseDocument());
    }

    /**
     * Remove the given document from the selected cruise.
     * @param {*} d 
     * @param {*} evt 
     */
    const removeDocument = (d, evt) => {
        evt.preventDefault();
        if(!confirm('Are you sure?'))
            return;
        const docs = props.application.cruise.documents;
        if(d.id > 0) {
            d.destroy()
                .then(result => {
                    docs.splice(docs.indexOf(d), 1);            
                }).catch(alert);
        } else {
            docs.splice(docs.indexOf(d), 1);
        }
    }

    /**
     * Open a link to the document in a new tab.
     * @param {*} url 
     * @param {*} evt 
     */
    const visitLink = (url, evt) => {
        evt.preventDefault();
        window.open(url, '_blank');
    }

</script>

<template>

    <div>
        <h3>Select or Add a Cruise</h3>
        <select v-model="application.cruise">
            <option v-if="!application.cruises.length" :value="null" disabled>-- Loading... --</option>
            <option v-else :value="null" disabled>-- Select One --</option>
            <option v-for="c in application.cruises" :value="c">{{ c.name + ' - ' + c.leg }}</option>
        </select>
        <button @click="addCruise($event)" class="material-symbols" title="Add a new cruise">add</button>
    </div>

    <div v-if="application.cruise">
        <form application="multipart/form-data" id="cruise_form">
            <h3>Cruise Information</h3>
            <p>Fill in the form below to provide metadata about the cruise. The cruise and leg must be unique.</p>
            <table>
                <tbody>
                    <tr>
                        <th><label for="name">Cruise Name</label></th>
                        <td><input id="name" v-model="application.cruise.name" /></td>
                    </tr>
                    <tr>
                        <th><label for="leg">Leg</label></th>
                        <td><input id="leg" type="number" step="1" v-model="application.cruise.leg" /></td>
                    </tr>
                    <tr>
                        <th><label for="start_date">Start Date</label></th>
                        <td><VueDatePicker id="start_date" 
                            v-model="application.cruise.start_time" format="yyyy-MM-dd" utc="preserve" /></td>
                    </tr>
                    <tr>
                        <th><label for="end_date">End Date</label></th>
                        <td><VueDatePicker id="end_date" 
                            v-model="application.cruise.end_time" format="yyyy-MM-dd" utc="preserve" /></td>
                    </tr>
                    <tr>
                        <th><label for="objective">Objective</label></th>
                        <td><textarea id="objective" v-model="application.cruise.objective"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="note">Operational Notes</label></th>
                        <td><textarea id="note" v-model="application.cruise.note"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="summary">Summary</label></th>
                        <td><textarea id="summary" v-model="application.cruise.summary"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="admin_note">Admin Notes</label></th>
                        <td><textarea id="admin_note" v-model="application.cruise.admin_note"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="ship">Ship</label></th>
                        <td>
                            <select id="ship" v-model="application.cruise.ship"> 
                                <option v-if="application.ships.length == 0" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="s in application.ships" :value="s">{{ s.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="approved">Approved</label></th>
                        <td>
                            <select id="approved" v-model="application.cruise.approved">
                                <option :value="null" disabled>-- Select One --</option>
                                <option v-for="(label, i) in approvals" :value="i">{{ label }}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3>Associated Programs</h3>
            <p>A cruise can optionally be associated with one or more programs. Click <button class="inline-button">Add</button> to add 
                an association. Click <button class="inline-button">Create a Program</button> if the program doesn't yet exist.</p>
            <table v-if="application.cruise.programs && application.cruise.programs.length > 0">
                <tbody>
                    <!-- The cruise.programs list is actually a list of CruiseProgram entities, which contain Programs. -->
                    <tr v-for="(p, i) in application.cruise.programs">
                        <td>
                            <!-- The select chooses a Program to put in the CruiseProgram. -->
                            <select v-model="application.cruise.programs[i].program"> 
                                <option v-if="application.programs.length == 0" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="ps in application.programs" :value="ps">{{ ps.name }}</option>
                            </select>
                        </td>
                        <td><button @click="removeProgram(p, $event)" class="material-symbols">delete</button></td>
                    </tr>
                </tbody>
            </table>
            <table v-else>
                <tbody>
                    <tr><td>None Added</td></tr>
                </tbody>
            </table>
            <button @click="addProgram($event)">Add</button> <button @click="createProgram($event)">Create a Program</button>

            <h3>Personnel</h3>
            <p>Assign personnel to the cruise by clicking <button class="inline-button">Add</button>. If a person has more than one role, 
                you can add them multiple times, each time with a different role. If the person or role isn't available in the list, 
                add them by clicking <button class="inline-button">Create a Person</button> or 
                <button class="inline-button">Create a Role</button>, respectively.</p>
            <table v-if="application.cruise.crew && application.cruise.crew.length > 0">
                <tbody>
                    <tr><th>Person</th><th>Role</th></tr>
                    <tr v-for="(p, i) in application.cruise.crew">
                        <td>
                            <select v-model="p.person">
                                <option v-if="!application.people" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="ps in application.people" :value="ps">{{ ps.last_name + ', ' + ps.first_name }}</option>
                            </select>
                        </td>
                        <td>
                            <select v-model="p.cruise_role">
                                <option v-if="!application.cruise_roles" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="cr in application.cruise_roles" :value="cr">{{ cr.name }}</option>
                            </select>
                        </td>
                        <td><button @click="removeCrew(p, $event)" class="material-symbols">delete</button></td>
                    </tr>
                </tbody>
            </table>
            <table v-else>
                <tbody>
                    <tr><td>None Added</td></tr>
                </tbody>                    
            </table>
            <button @click="addCrew($event)">Add</button>
            <button @click="createPerson($event)">Create a Person</button>
            <button @click="createRole($event)">Create a Role</button>

            <h3>First Nations Contacts</h3>
            <p>Add First Nations contacts to the cruise by clicking <button class="inline-button">Add</button>.</p>
            <table v-if="application.cruise.first_nation_contacts && application.cruise.first_nation_contacts.length > 0">
                <tbody>
                    <tr>
                        <th>Nation</th><th>Contact Name</th><th>Email</th><th>Phone</th><th>Note</th>
                    </tr>
                    <tr v-for="c in application.cruise.first_nation_contacts">
                        <td><input v-model="c.nation" /></td>
                        <td><input v-model="c.contact_name" /></td>
                        <td><input v-model="c.email" /></td>
                        <td><input v-model="c.phone" /></td>
                        <td><input v-model="c.note" /></td>
                        <td><button @click="removeFNContact(c, $event)" class="material-symbols">delete</button></td>
                    </tr>
                </tbody>
            </table>
            <table v-else>
                <tbody>
                    <tr><td>None Added</td></tr>
                </tbody>
            </table>
            <button @click="addFNContact($event)">Add</button>

            <template v-if="props.allowUpload">
                <h3>Documents</h3>
                <p>Use this space to link or upload protocol documents or species guides. If you upload a file, 
                    the URL can be provided to indicate the source; if you do not upload a file, the URL is required. An uploaded
                    file will replace an existing file.</p>
                <!-- List the documents if there are any. -->
                <table v-if="application.cruise.documents.length > 0">
                    <tbody>
                        <tr><th>Title</th><th colspan="2">URL</th><th colspan="2">File</th><th>Note</th><th></th></tr>
                        <!-- Iterate through the document items. -->
                        <tr v-for="(d, i) in application.cruise.documents">
                            <td><input id="file_title" v-model="d.title" /></td>
                            <td><input id="file_url" v-model="d.url" /></td>
                            <td><button v-if="d.url" @click="visitLink(d.url, $event)" class="material-symbols">link</button></td>
                            <td class="nowrap">
                                <!-- Show a link to the file if there is one. -->
                                <a v-if="!d.dirty" 
                                    :href="Net.API + '/cruises/' + application.cruise.id + '/documents/' + d.id + '/file'" 
                                    target="_blank">{{ d.file_name }}</a>
                                <!-- Otherwise show the selected file if there is one. -->
                                <span v-else>{{ d.file_name }}</span>
                                <!-- Store the index of this document element. Relates to the file upload below. -->
                                <input type="hidden" :value="i" />
                                <input @change="fileSelected('file_' + i, d, $event)" style="display:none" 
                                    :id="'file_' + i" :name="'file_' + i" type="file" />
                            </td>
                            <td>
                                <!-- The file upload button for field above. -->
                                <button @click="selectFile('file_' + i, $event)" class="material-symbols">upload</button>
                            </td>
                            <td><input id="file_note" v-model="d.note" /></td>
                            <td>
                                <button @click="removeDocument(d, $event)" class="material-symbols">delete</button>
                            </td>
                        </tr>
                    </tbody>                        
                </table>
                <p v-else>None Added</p>
                <button @click="addDocument($event)">Add a Document</button>
            </template>

        </form>
    </div>

    <AddProgram ref="program_popup" :application="application" />

    <AddPerson ref="user_popup" :application="application" />

    <AddCruiseRole ref="role_popup" :application="application" />

</template>