<script setup>
    import { ref, reactive } from 'vue';
    import { PlatformConfig, InstrumentConfig } from '@/js/rov/models.js';
    import VueDatePicker from '@vuepic/vue-datepicker';
    import AddPerson from "@/views/popups/AddPerson.vue";
    import AddDiveRole from "@/views/popups/AddDiveRole.vue";
    import AddPlatform from '@/views/popups/AddPlatform.vue';
    import AddInstrument from '@/views/popups/AddInstrument.vue';
    
    // Define external properties.
    const props = defineProps(['application']);
    const app = props.application;

    // Popup references.
    const personPopup = ref(null);
    const rolePopup = ref(null);
    const platformPopup = ref(null);
    const instrumentPopup = ref(null);
    const dives = reactive([]);
    const divesLoading = ref(false);
    const loading = ref(false);

    /**
     * Add a crew member.
     */
    const addCrew = () => {
        app.dive.addCrew(new DiveCrew());
    }

    /**
     * Remove a crew member.
     * @param {*} c 
     */
     const removeCrew = (c) => {
        app.dive.removeCrew(c);
    }

    /**
     * Create a new cruise and add it to the list.
     */
    const addDive = () => {
        app.dive = new Dive();
        app.dive.sub_config = new PlatformConfig();
        app.dive.ship_config = new PlatformConfig();
        dives.unshift(app.dive);
    }

    /**
     * Load the dives.
     */
    const loadDives = () => {
        divesLoading.value = true;
        app.dive = null;
        dives.splice(0);
        app.cruise.loadDives()
            .then(result => {
                dives.splice(0);
                dives.push(...result);
                divesLoading.value = false;
            })
            .catch(err => {
                divesLoading.value = false;
                alert(err);
            });
    }

    /**
     * Add an instrument configuration.
     * @param {*} platform_config 
     */
    const addInstrumentConfig = (platform_config) => {
        platform_config.instrument_configs.push(new InstrumentConfig());
    }

    /**
     * Delete an instrument config.
     * @param {*} platform_config 
     * @param {*} instrument_config 
     */
    const deleteInstrumentConfig = (platform_config, instrument_config) => {
        const ics = platform_config.instrument_configs;
        ics.splice(ics.findIndex(ic => ic.id == instrument_config.id), 1);
    }

</script>

<template>

    <div id="view_cruise_metadata" v-if="application">

        <div>
            <h3>Select Cruise</h3>
            <p>If the cruise isn't created yet, create it <a href="/rov/admininstration/rov/cruises" title="Manage Cruises">here</a>.</p>
            <select v-model="application.cruise" @change.prevent="loadDives()">
                <option v-if="!application.cruises.length" :value="null" disabled>-- Loading... --</option>
                <option v-else :value="null" disabled>-- Select One --</option>
                <option v-for="c in application.cruises" :value="c">{{ c.name + ' - ' + c.leg }}</option>
            </select>
        </div>

        <div v-if="application.cruise">

            <div>
                <h3>Select or Create Dive</h3>
                <select v-model="application.dive">
                    <option v-if="divesLoading" :value="null" disabled>-- Loading... --</option>
                    <option v-else :value="null" disabled>-- Select One --</option>
                    <option v-for="d in dives" :value="d">{{ d.name }}</option>
                </select>
                <button @click.prevent="addDive()" class="material-symbols" title="Add a new dive">add</button>
            </div>

            <form v-if="application.dive">
                <h3>Dive Information</h3>
                <p>Fill in the form below to provide metadata about the dive. The dive name must be unique.</p>
                <table>
                    <tr>
                        <th><label for="name">Name</label></th>
                        <td><input id="name" v-model="application.dive.name" /></td>
                    </tr>
                    <tr>
                        <th><label for="start_time">Start Time</label></th>
                        <td><VueDatePicker id="start_time" v-model="application.dive.start_time" 
                            format="yyyy-MM-dd HH:mm:ss" utc="preserve" enable-seconds /></td>
                    </tr>
                    <tr>
                        <th><label for="end_time">End Time</label></th>
                        <td><VueDatePicker id="end_time" v-model="application.dive.end_time" 
                            format="yyyy-MM-dd HH:mm:ss" utc="preserve" enable-seconds /></td>
                    </tr>
                    <tr>
                        <th><label for="objective">Objective</label></th>
                        <td><textarea id="objective" v-model="application.dive.objective"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="note">Operational Notes</label></th>
                        <td><textarea id="note" v-model="application.dive.note"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="summary">Summary</label></th>
                        <td><textarea id="summary" v-model="application.dive.summary"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="admin_note">Admin Notes</label></th>
                        <td><textarea id="admin_note" v-model="application.dive.admin_note"></textarea></td>
                    </tr>
                    <tr>
                        <th><label for="seatube_id">SeaTube Dive ID</label></th>
                        <td><input id="seatube_id" v-model="application.dive.seatube_id" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4>Submersible, ROV or Drop Camera Configuration</h4>
                            <table>
                                <tr>
                                    <th><label for="sub_platform">Platform</label></th>
                                    <td>
                                        <select id="sub_platform" v-model="application.dive.sub_config.platform">
                                            <option v-if="loading" :value="null" disabled>-- Loading... --</option>
                                            <option v-if="!loading" :value="null" disabled>-- Select One --</option>
                                            <option v-for="p in application.subs" :value="p">{{ p.name + ' - ' + p.serial_number }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button @click.prevent="platformPopup.show(application.dive.sub_config, 'platform', application.subs)"
                                            class="material-symbols">add</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="sub_note">Note</label></th>
                                    <td colspan="2"><textarea id="sub_note" v-model="application.dive.sub_config.note"></textarea></td>
                                </tr>
                                <tr>
                                    <th><label for="sub_config">Configuration</label></th>
                                    <td colspan="2"><textarea id="sub_config" v-model="application.dive.sub_config.configuration"></textarea></td>
                                </tr>
                                <tr>
                                    <th colspan="3">Instrument Configurations</th>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <table class="grid">
                                            <tbody v-for="config in application.dive.sub_config.instrument_configs">
                                                <tr>
                                                    <th>Instrument</th>
                                                    <td>
                                                        <select v-model="config.instrument">
                                                            <option v-if="loading" :value="null" disabled>-- Loading... --</option>
                                                            <option v-if="!loading" :value="null" disabled>-- Select One --</option>
                                                            <option v-for="i in application.instruments" :value="i">{{ i.model.brand_name + ' ' + i.model.model_name + ' - ' + i.serial_number }}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button class="material-symbols"
                                                            @click.prevent="instrumentPopup.show(config, 'instrument', application.instruments)">add</button>
                                                    </td>
                                                    <td rowspan="4">
                                                        <button class="material-symbols" 
                                                            @click.prevent="deleteInstrumentConfig(application.dive.sub_config, config)">delete</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Configuration</th>
                                                    <td colspan="2"><textarea v-model="config.configuration"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <th>Note</th>
                                                    <td colspan="2"><textarea v-model="config.note"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><button 
                                        @click.prevent="addInstrumentConfig(application.dive.sub_config)">Add</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h4>Ship Configuration</h4>
                            <table>
                                <tr>
                                    <th><label for="ship_platform">Platform</label></th>
                                    <td>
                                        <select id="ship_platform" v-model="application.dive.ship_config.platform">
                                            <option v-if="loading" :value="null" disabled>-- Loading... --</option>
                                            <option v-if="!loading" :value="null" disabled>-- Select One --</option>
                                            <option v-for="p in application.subs" :value="p">{{ p.name + ' - ' + p.serial_number }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button @click.prevent="platformPopup.show(application.dive.ship_config, 'platform', application.ships)"
                                            class="material-symbols">add</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="ship_note">Note</label></th>
                                    <td colspan="2"><textarea id="ship_note" v-model="application.dive.ship_config.note"></textarea></td>
                                </tr>
                                <tr>
                                    <th><label for="ship_config">Configuration</label></th>
                                    <td colspan="2"><textarea id="ship_config" v-model="application.dive.ship_config.configuration"></textarea></td>
                                </tr>
                                <tr><th colspan="3">Instrument Configurations</th></tr>
                                <tr><td colspan="3">
                                    <table class="grid">
                                        <tbody v-for="config in application.dive.ship_config.instrument_configs">
                                            <tr>
                                                <th>Instrument</th>
                                                <td>
                                                    <select v-model="config.instrument">
                                                        <option v-if="loading" :value="null" disabled>-- Loading... --</option>
                                                        <option v-if="!loading" :value="null" disabled>-- Select One --</option>
                                                        <option v-for="i in application.instruments" :value="i">{{ i.model.brand_name + ' ' + i.model.model_name + ' - ' + i.serial_number }}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button class="material-symbols"
                                                        @click.prevent="instrumentPopup.show(config, 'instrument', application.instruments)">add</button>
                                                </td>
                                                <td rowspan="4">
                                                    <button class="material-symbols" 
                                                        @click.prevent="deleteInstrumentConfig(application.dive.ship_config, config)">delete</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Configuration</th>
                                                <td colspan="2"><textarea v-model="config.configuration"></textarea></td>
                                            </tr>
                                            <tr>
                                                <th>Note</th>
                                                <td colspan="2"><textarea v-model="config.note"></textarea></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td></tr>
                                <tr><td colspan="3">
                                    <button @click.prevent="addInstrumentConfig(application.dive.ship_config)">Add</button>
                                </td></tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <h3>Personnel</h3>
                <p>Assign personnel to the dive by clicking <button class="inline-button">Add</button>. If a person has more than one role, 
                    you can add them multiple times, each time with a different role. If the person or role isn't available in the list, 
                    add them by clicking <button class="inline-button">Create a Person</button> or 
                    <button class="inline-button">Create a Role</button>, respectively.</p>
                <table v-if="application.dive.crew.length > 0">
                    <tr><th colspan="2">Person</th><th colspan="2">Role</th><th></th></tr>
                    <tr v-for="(p, i) in application.dive.crew">
                        <td>
                            <select v-model="p.person">
                                <option v-if="!application.people" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="ps in application.people" :value="ps">{{ ps.last_name + ', ' + ps.first_name }}</option>
                            </select>
                        </td>
                        <td><button @click.prevent="personPopup.show(p, 'person', application.people)" class="material-symbols">add</button></td>
                        <td>
                            <select v-model="p.dive_role">
                                <option v-if="!application.dive_roles" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="cr in application.dive_roles" :value="cr">{{ cr.name }}</option>
                            </select>
                        </td>
                        <td><button @click.prevent="rolePopup.show(p, 'role', application.dive_roles)" class="material-symbols">add</button></td>
                        <td><button @click.prevent="removeCrew(p)" class="material-symbols">delete</button></td>
                    </tr>
                </table>
                <table v-else>
                    <tr><td>None Added</td></tr>
                </table>
                <button @click.prevent="addCrew()">Add</button>
            </form>
        </div>
    </div>

    <AddPerson ref="personPopup" />
    <AddDiveRole ref="rolePopup" />
    <AddPlatform ref="platformPopup" />
    <AddInstrument ref="instrumentPopup" />

</template>