<script setup>
    import { ref } from 'vue';
    import { Transect } from '@/js/rov/models.js';
    import VueDatePicker from '@vuepic/vue-datepicker';

    // Define external properties.
    const props = defineProps(['application']);
    const app = props.application;

    // Popup references.
    const divesLoading = ref(false);
    const transectsLoading = ref(false);

    /**
     * Load the dives.
     * @param {*} evt 
     */
    const loadDives = (evt) => {
        evt.preventDefault();
        divesLoading.value = true;
        app.dive = null;
        app.dives.splice(0);
        app.cruise.loadDives()
            .then(result => {
                app.dives.splice(0);
                app.dives.push(...result);
                divesLoading.value = false;
            })
            .catch(err => {
                divesLoading.value = false;
                alert(err);
            });
    }

    /**
     * Load the dives.
     * @param {*} evt 
     */
     const loadTransects = (evt) => {
        evt.preventDefault();
        transectsLoading.value = true;
        app.transect = null;
        app.transects.splice(0);
        app.dive.loadTransects()
            .then(result => {
                app.transects.splice(0);
                app.transects.push(...result);
                transectsLoading.value = false;
            })
            .catch(err => {
                transectsLoading.value = false;
                alert(err);
            });
    }

    /**
     * Create a new transect and add it to the dive.
     * @param {*} evt 
     */
     const addTransect = (evt) => {
        evt.preventDefault();
        app.transect = new Transect();  
        app.transect.name = "1";
        app.transect.start_time = app.dive.start_time;
        app.transect.end_time = app.dive.end_time;
        app.transect.objective = app.dive.objective;
        app.transect.note = app.dive.note;
        app.transect.summary = app.dive.summary;
        app.transect.dive = app.dive;
        app.transects.unshift(app.transect);
    }

</script>

<template>

    <div id="view_cruise_metadata" v-if="application">

        <div>
            <h3>Select Cruise</h3>
            <p>If the cruise isn't created yet, create it <a href="/rov/administration/rov/cruises" title="Manage Cruises">here</a>.</p>
            <select v-model="application.cruise" @change="loadDives($event)">
                <option v-if="!application.cruises.length" :value="null" disabled>-- Loading... --</option>
                <option v-else :value="null" disabled>-- Select One --</option>
                <option v-for="c in application.cruises" :value="c">{{ c.name + ' - ' + c.leg }}</option>
            </select>
        </div>

        <div v-if="application.cruise">

            <div>
                <h3>Select Dive</h3>
                <select v-model="application.dive" @change="loadTransects($event)">
                    <option v-if="divesLoading" :value="null" disabled>-- Loading... --</option>
                    <option v-else :value="null" disabled>-- Select One --</option>
                    <option v-for="d in app.dives" :value="d">{{ d.name }}</option>
                </select>
            </div>

            <div v-if="application.dive">

                <h3>Select or Create Transect</h3>
                <select v-model="application.transect">
                    <option v-if="transectsLoading" :value="null" disabled>-- Loading... --</option>
                    <option v-else :value="null" disabled>-- Select One --</option>
                    <option v-for="t in app.transects" :value="t">{{ t.name }}</option>
                </select>
                <button @click="addTransect($event)" class="material-symbols" title="Add a new transect">add</button>

                <form v-if="application.transect">
                    <h3>Transect Information</h3>
                    <p>Fill in the form below to provide metadata about the transect. The transect name must be unique within the dive.</p>
                    <table>
                        <tr><th>Name</th><td><input v-model="application.transect.name" /></td></tr>
                        <tr><th>Start Time</th><td><VueDatePicker v-model="application.transect.start_time" format="yyyy-MM-dd HH:mm:ss" utc="preserve" enable-seconds /></td></tr>
                        <tr><th>End Time</th><td><VueDatePicker v-model="application.transect.end_time" format="yyyy-MM-dd HH:mm:ss" utc="preserve" enable-seconds /></td></tr>
                        <tr><th>Objective</th><td><textarea v-model="application.transect.objective"></textarea></td></tr>
                        <tr><th>Operational Notes</th><td><textarea v-model="application.transect.note"></textarea></td></tr>
                        <tr><th>Summary</th><td><textarea v-model="application.transect.summary"></textarea></td></tr>
                        <tr><th>Admin Notes</th><td><textarea v-model="application.transect.admin_note"></textarea></td></tr>
                    </table>
                </form>

            </div>
        </div>
    </div>

</template>