/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v105/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
}

select {
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
  outline: none;
  line-height: 1;
  vertical-align: middle;
}

input, textarea {
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
  outline: none;
}

input {
  line-height: 1;
}

textarea {
  width: 30em;
  height: 5em;
  font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 1em;
}

input[type="checkbox"] {
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  height: 1.25em;
  width: 1.25em;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin: 0.5em;
  padding: 0;
}

label {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 0;
  line-height: 1;
}

button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0.5em 0.5em;
  outline: none;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
}

.button-right {
  float: right;
}

.form_error {
  color: red;
}

/* Multiselect style overrides. */
.multiselect {
  min-height: unset;
  margin: 0;
  line-height: 1;
  
}

.multiselect__select {
  padding: 0.5em;
  margin: 0;
  width: 2em;
  height: 2.4em;
  top: 0;
}

.multiselect .multiselect__option--highlight, .multiselect .multiselect__option--highlight:after {
  background-color: #7b8eeb;
}

.multiselect__tags {
  font-size: 1em;
  min-height: unset;
  display: block;
  padding: 0.4em;
  padding-right: 2em;
  margin: 0.25em;
  border: 1px solid #aaa;
  border-radius: 4px;
  height: 2.5em;
  font-size: 0.85em;
  line-height: 1;
}

.multiselect__tag {
  font-size: 0.85em;
  line-height: 1;
}

.multiselect__tag-icon {
  line-height: 1;
  padding: 0.125em;
}

.multiselect .multiselect__tag {
  background-color: #7b8eeb;
}

.material-symbols {
  font-family: 'Material Symbols Outlined';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

input + button, button + button, textarea + button, select + button, button + input, 
  button + select, button + textarea, button + button, select + select, span + span {
  margin-left: 0.5em;
}
