html, body {
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1em;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

section { 
    margin-bottom: 2em;
}

a {
    color: #1c7667;
}

a:hover {
    color: #ef4036;
}

a:active {
    color: #1c7667;
}

h1, h2, h3, h4, th {
    color: #262262;
}

td > h4 {
    padding: 0;
    margin: 0.5em 0;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
}

hr {
    border-collapse: collapse;
    border: none;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 2em 2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main_menu_head {
    color: #262262;
    font-size: 1em;
    font-weight: 600;
    margin: 1em;
    border-bottom: #262262 1px solid;
}

#main_menu {
    background-color: white;
    margin: 0 1em;
    flex-basis: 0;
    flex-grow: 0;
}

#main_menu a, #main_menu li {
    color: #262262;
    font-size: 1em;
    line-height: 1.5em;
    overflow-wrap: unset;
    text-decoration: none;
}

#main_menu ul {
    margin: 0;
    padding: 0;
    margin: 0 1em;
    list-style: none;
}

.main_icon {
    margin-top: 1.5em;
    display: block;
}

.alternating, .grid > tr > td, .grid > tr > th, .grid > tbody > tr > td, .grid > tbody > tr > th {
    border: 1px solid #ccc;
}

.nowrap > tr > td, .nowrap > tr > td, .nowrap > tbody > tr > td, .nowrap > tbody > tr > td { 
    text-wrap: nowrap;
}

div.grid {
    border: 1px solid #ccc;
}

.notlined tr { 
    border: none !important;
    border-collapse: collapse;
}

.nogrid > tr > td, .nogrid > tbody > tr > td, .nogrid > tr > th, .nogrid > tbody > tr > th {
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

tbody.sticky_header > tr > th, .sticky_header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

tbody.sticky_header > tr > th > button {
    border: none;
    background: white;
    color: #262262;
    white-space: nowrap;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 500;
}

/* Table rows underlined. */
.lined tr {
    border-bottom: 1px solid #ccc;
}

th {
    white-space: nowrap;
    font-weight: 500;
}

td, th {
    padding: 0.25em;
    /*vertical-align: top;*/
}

/* For header cells with a TD following, i.e., when the first cell in a row is a header. */
th:has(+ td) {
    text-align: left;
    /*vertical-align: top;*/
}

/* Text fields marked required should change colour when they're empty. */
input.required_field .empty {
    background-color: rgba(255, 0, 0, 0.5);
}

select.required_field:has(option:checked[value='']) {
    background-color: rgba(255, 0, 0, 0.5);
}

.alternating tr:nth-child(odd) {
    background-color: #eee;
}

pre {
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
    white-space: pre-wrap;
}

#main_container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#footer {
    padding: 20px;
    text-align: center;
    font-size: 0.75em;
    color: #ccc;
}

main {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 20px;
}

#menu {
    margin-right: 1em;
    white-space: nowrap;
}


.label_table th, .label_table td {
    white-space: nowrap;
    vertical-align: middle;
}

.import_btn_active {
    background-color: white;
}

.import_btn_inactive {
    background-color: #aaa;
}

/* Style for elements containing a filename that should not break. */
.nowrap {
    white-space: nowrap;
}

.nowrap > div {
    display: inline-block;
}

.nowrap th, .nowrap td {
    white-space: nowrap;
}

/* Buttons that appear inline in text. */

.inline-button {
    font-size: 0.75em;
    min-height: 1em;
    pointer-events: none;
}

.h3-button {
    font-size: 0.75em;
    min-height: 1em;
    display: inline-block;
}

.inline-tag {
    color: white;
    font-size: 0.75em;
    padding: 0.25em;
    margin: 0 0.25em 0.25em 0;
    background-color: #7b8eeb;
    border:none;
    white-space: nowrap;
}

/* Map */

.obs_icon {
    width: 5px !important;
    height: 5px !important;
}

.obs_label {
    background-color: #baf702;
    padding: 3px;
    border: 1px solid black;
    border-radius: 0 5px 5px 5px;
    width: 5px;
    height: 5px;
    margin-left: 3px;
    margin-top: 3px;
}

.obs_circle {
    background-color: #baf702;
    border: 1px solid black;
    padding-top: 3px;
    padding-right: -1px;
    border-radius: 13px 13px;
    width: 24px !important;
    height: 21px !important;
    text-align: center;
}

.obs_circle_lg {
    background-color: #baf702;
    border: 1px solid black;
    padding-top: 6px;
    padding-right: -1px;
    border-radius: 17px 17px;
    width: 30px !important;
    height: 24px !important;
    text-align: center;
}

#cruise_menu {
    width: 100%;
    float: left;
    height: 200px;
    overflow-y: scroll;
}

.cruise_label_patch {
    width: 1em;
    height: 1em;
    display: block;
    float: left;
    margin-right: 5px;
}

.cruise_label {
    float: left;
    width: 200px;
}

.map {
    width: 100%;
    height: 500px;
}

.map_canv {
    display: none;
}

/* News */

.news_item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.news_list {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

.popup_dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.popup_dialog > div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #ccc;
    max-height: 90%;
    overflow-y: auto;
}

.nav_btn {
    margin: 0 0.25em;
}

.step_bar button {
    margin-right: 0.5em;
}

.leaflet-container {
    cursor: pointer;
}

/* Wiki stuff. */
#wiki_menu {
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    margin:1em 0 0 0;
    padding:1em 1em 0 0;
}

#wiki_menu ul {
    margin: 0;
    padding:0;
}

#wiki_menu li {
    list-style-type: none;
    padding: 0 0 0 0.5em;
}

#wiki_container {
    display: flex;
    margin:1em;
    padding:1em;
}

#wiki_content code {
    background-color: #eee;
}

#wiki_content pre {
    background-color: #eee;
    margin-left: 1em;
    padding: 10px;
}

#wiki_content td, #wiki_content th {
    border: 1px solid #ccc;   
}

.error_box {
    border: 1px solid #ef4036;
    background-color: #ef3f3648;
    padding: 1em;
    margin: 1em;
}

.success_box {
    border: 1px solid #1c8d2b;
    background-color: #24861c48;
    padding: 1em;
    margin: 1em;
}

.waiting_box {
    border: 1px solid #d4a114;
    background-color: #e6b82148;
    padding: 1em;
    margin: 1em;
}

.dismiss {
    size: 0.25em;
    width: 1em;
    height: 1em;
    line-height: 1;
    display: inline;
    padding: 0;
    margin: 0;
    float: right;
    background-color: #ffffff99;
    border-color: #ffffff66;
}