<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Organisation } from "@/js/shared/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Country', name: 'country', editable: true},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Organisation</h1>
        <p>This form is used to manage organisations, such as those which own equipment or oversee programs, etc.</p>

        <SimpleEntityAdmin :entityCls="Organisation" :fields="fields" />
    </main>    
</template>