<script setup>
    import { onMounted, ref, reactive } from 'vue';
    import { Person } from "@/js/shared/models.js";

    const people = reactive([]);   // List of annotation people.

    const save = (person) => {
        person.save()
            .catch(alert);
    }

    const remove = (person) => {
        if(confirm('Are you sure?')) {
            if(person.id == 0) {
                people.splice(people.indexOf(person), 1);
            } else {
                person.destroy()
                    .then(result => {
                        people.splice(people.indexOf(person), 1);
                    })
                    .catch(alert);
            }
        }
    }

    const addPerson = () => {
        people.push(new Person());
    }

    const loadPeople = () => {
        people.splice(0);
        Person.loadAll()
            .then(result => {
                people.push(...result);
            })
            .catch(err => alert(err));
    }

    onMounted(() => {
        loadPeople();
    });
</script>

<template>
    <div>
        <h1>People</h1>
        <p>This form is used to manage people. These aren't user accounts for this site, but personnel who
            participate in MSEA activities and may be referenced as crew, annotators, etc.
        </p>
        <table>
            <tr><th>Last Name</th><th>First Name</th><th>Email</th><th>Affiliation</th><th>Biigle User</th><th>Biigle API Key</th><th colspan="2"></th></tr>
            <tr v-for="p in people">
                <td><input v-model="p.last_name" /></td>
                <td><input v-model="p.first_name" /></td>
                <td><input v-model="p.email" /></td>
                <td><input v-model="p.affiliation" /></td>
                <td><input v-model="p.biigle_user" /></td>
                <td><input v-model="p.biigle_api_key" /></td>
                <td><button :disabled="!p.dirty" @click.prevent="save(p)" class="material-symbols">save</button></td>
                <td><button @click.prevent="remove(p)" class="material-symbols">delete</button></td>
            </tr>
            <tr>
                <td colspan="5"><button @click.prevent="addPerson()">Add</button></td>
            </tr>
        </table>
    </div>
</template>