<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Site } from "@/js/shared/models.js";
</script>

<template>
    <main>
        <h1>Sites</h1>
        <p>These are named survey sites.</p>

        <SimpleEntityAdmin :entityCls="Site" />
    </main>    
</template>