@media screen, print {

	/* #25395C, #2787EA, #1C67D2, #A4B0FF, #EA7166, #FCA78A */
	body {
		font-family: Helvetica, Arial, sans-serif;
		margin: 0;
		padding: 0;
		/*height: 100%;*/
		/*background-image: url('/static/img/background.jpg');*/
		/*background-repeat: no-repeat;*/
		background-color: #1b1e30;
		/*background-position: top right;*/
	}
	input:not([type=checkbox]):not([type=radio]), textarea {
		width: 200px; /* can't get the .smallinput fields below to work */
		height: 2.5em;
	}
	p {
		box-sizing: border-box;
	}
	pre, .pre {
		white-space: pre-wrap;
	}
	table {
		border-collapse: collapse;
		border: 1px solid #eee;
		border-radius: 5px;
		/*width: 100%;*/
	}
	tbody:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.5);
	}
	td {
		padding: 5px;
		table-layout: auto;
		box-sizing: border-box;
		vertical-align: top;
	}
	select {
		width: 300px;
		height: 2.5em;
		background-color: white;
		border: 1px solid black;
		border-radius: 3px;
	}
	option {

	}
	optgroup {
		margin: 0;
		padding: 0;
	}
	button {
		height: 2.5em;
	}
	textarea {
		width: 100%;
	}
	input[type='date'] {
		width: 200px;
	}
	input.digit {
		width: 3em;
	}
	.header:hover {
		color: red;
	}
	
	#menu {
		position: absolute;
		top: 0;
		left: 0;
		/*width: 240px;*/
		min-height: 100%;
		padding: 0 10px;
		margin: 0;
		/*background-color: #2787EA;*/
	}

	#menu li {
		font-weight: bold;
		display: block;
		color: white;
		margin: 0;
		padding: 5px;
		background-color: #25395C;
	}

	#menu > li > ul {
		margin: 5px 0 0 0;
		padding: 0;
	}

	#menu > li {
		padding: 15px;
		margin: 1px;
		/*border-radius: 10px;*/
		/*filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));*/
	}

	#menu a {
		text-decoration: none;
		color: white;
	}
	#menu a:hover {
		text-decoration: underline;
	}

	#content {
		position: absolute;
		top: 0;
		right: 0;
		left: 250px;
		padding: 10px 20px;
		/*margin: 10px;*/
		min-height: 100%;
		background: rgba(255, 255, 255, 0.9); /*linear_gradient(90deg, rgba(255, 255, 255, 1.0) 0%, rgba(255, 255, 255, 0.85) 100%)";*/
		/*border-radius: 10px;*/
		filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
	}

	.smallinput, .subsection input:not([type='checkbox']) {
		width: 200px !important;
		padding: 0;
		margin: 0;
	}
	.tinyinput {
		width: 80px !important;
		padding: 0;
		margin: 0;
	}
	.tinybutton {
		font-size: 0.75em;
		margin: 0 0 0 0.75em;
		padding: 0.25em;
	}
	.map {
		width: 100%;
		height: 500px;
	}
	#homemap {
		width: 100% !important;
	}

	.tab_panel > *:not(h1) {
		float: left;
		clear: both;
	}

	.tab_panel > h1 {
		display: block;
		float: left;
		font-size: 1em;
		padding: 10px;
		margin: 0;
		background-color: #eee;
	}
	.tab_panel > h1.on {
		border-top: 1px solid #eee;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		background-color: #fff;
	}

	#find_results_panel {
		display: none;	
		border: 1px #999 solid;
		border-radius: 10px;
	}

	#find_results_content {
		height: 300px;
		overflow-y: scroll;
		margin-bottom: 10px;
	}

	#find_results_content > table {
		width: 100%
	}

	.taxon_row {
		vertical-align: top;
	}

	.taxon_id_link {
		white-space: nowrap;
	}

	.taxon_source_itis {
		background-color: #ffcccc !important;
		border-bottom: 1px solid #ff9999 !important;
	}

	.taxon_source_inaturalist {
		background-color: #ccffcc !important;
		border-bottom: 1px solid #99ff99 !important;
	}

	.taxon_source_worms { 
		background-color: #ccccff !important; 
		border-bottom: 1px solid #9999ff !important;
	}

	.taxon_source_obis { 
		background-color: #ffccff !important; 
		border-bottom: 1px solid #9999ff !important;
	}

	.obs_icon {
		width: 5px !important;
		height: 5px !important;
	}

	.obs_label {
		background-color: #baf702;
		padding: 3px;
		border: 1px solid black;
		border-radius: 0 5px 5px 5px;
		width: 5px;
		height: 5px;
		margin-left: 3px;
		margin-top: 3px;
	}

	.obs_circle {
		background-color: #baf702;
		border: 1px solid black;
		padding-top: 3px;
		padding-right: -1px;
		border-radius: 13px 13px;
		width: 24px !important;
		height: 21px !important;
		text-align: center;
	}

	.obs_circle_lg {
		background-color: #baf702;
		border: 1px solid black;
		padding-top: 6px;
		padding-right: -1px;
		border-radius: 17px 17px;
		width: 30px !important;
		height: 24px !important;
		text-align: center;
	}

	#canv {
		display: none;
	}

	.report_1 {
		margin-bottom: 10px;
		border: none;
		float: left;
	}

	.report_1 td {
		vertical-align: top;
	}

	.report_cruise_map, .report_dive_map {
		width: 300px;
		height: 250px;
		float: right;
	}

	.report_2 {
		margin: 0 0 10px 10px;
		float: left;
		clear: left;
		border: none;
	}

	.report_2 td {
		vertical-align: top;
		padding: 0 15px 2px 0;
	}

	.report_3 {
		width: 100%;
		margin-bottom: 10px;
		clear: left;
	}

	.report_3 td {
		vertical-align: top;
		background-color: #ddd;
	}

	.report_4 {
		width: 100%;
		margin-bottom: 10px;
	}

	.report_4 td {
		vertical-align: top;
		background-color: #ccc;
	}

	.text_popup {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 500px;
		max-width: 90%;
		background-color: white;
		border: 1px solid #ccc;
		padding: 5px;
		z-index: 3000;
		filter: drop-shadow(0 0 10px #777);
		transform: translate(-50%, -50%);
	}

	.text_popup_head {
		padding: 0 0 5px 0;
	}

	.text_popup_head button {
		margin: 0;
		padding: 0;
		height: 1.5em;
		width: 1.5em;
		float: right;
	}

	.text_popup_content {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		border: 1px solid #ccc;
		overflow-y: scroll;
		padding: 5px;
	}

	.source_row {
		background-color: #ccc;
	}

	.transect_row {
		background-color: #eee;
	}

	.transect_row td:first-child {
		padding-left: 15px;
	}

	/* Used on rov-cruise to hide filemeta table. */
	.filemeta {
		display: none;
	}

	.filenav {
		margin-right: 5px;
	}

	.ldt_table {
		border-radius: 5px;
		width: auto;
	}

	.rca_resource, .news_item {
		border-radius: 5px;
		border: 1px solid #ccc;
		margin: 5px;
		padding: 5px;
	}

	.rca_resource > div, .news_item > div {
		margin-bottom: 5px;
	}

	.message_box, .error_box, .message_section, .error_section {
		border: 1px solid #f99;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 5px;
		font-weight: bold;
	}

}

@media print {

	#content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 10px;
		margin: 0;
	}

	#menu {
		display: none;
	}

}

