#wiki td, th {
	background-color: white;
	padding: 0.35em;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

#wiki th {
	border-bottom: 1px solid #ccc;
}

#wiki div.menu {
	float: right;
	border: 1px solid #ddd;
	padding: 10px;
}

#wiki #mapframe {
	float: left;
	height: 600px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: scroll;
}

code {
	background-color: #eee;
	padding: 2px;
}

pre > code {
	background-color: #eee;
	display: block;
	padding: 20px;
}

.wiki_table {
	margin: 0;
	border:  none;
	border-collapse: collapse;
}

.wiki_table td {
	border: none !important;
}

.wiki_table tr { 
	border-bottom: 1px solid #eee;
}

.wiki_table tr td:first-child { 
	border-right: 1px solid #eee !important;
}

.wiki_table tr:last-child { 
	border-bottom: none;
}

.wiki_img_right {
	float: right;
	display: inline;
	border: 1px solid #eee;
	padding: 10px;
	margin: 10px;
}

.wiki_imt_right img {
	display: block;
}
.wiki_img_right span {
	clear: both;
	display: block;
	margin-top: 10px;
	text-align: center;
}
