<script setup>
    import '@vuepic/vue-datepicker/dist/main.css'
    import { onMounted } from "vue";
    import { RouterView } from "vue-router";
    import { Auth } from "@/js/auth";
    import MainMenu from "@/components/MainMenu.vue";
    import LogIn from "@/views/popups/LogIn.vue";
    // Force registration of model classes to avoid "ghost" imports in the app vues.
    import "@/js/auth/models.js";
    import "@/js/shared/models.js";
    import "@/js/rov/models.js";

    onMounted(() => {
        Auth.getSession();
    });
</script>

<template>
    <LogIn />
    <div id="main_container">
        <MainMenu />
        <RouterView />
    </div>
    <div id="footer">
        <hr />
    </div>

</template>


