<template>
  <main>
  <section>
  <h1>About</h1>
  
  <p>Welcome to the MSEA Underwater Imagery Database! This site aims to provide access to underwater imagery related datasets that were collected in the Pacific Region by Fisheries and Oceans Canada (DFO) Science on research cruises conducted on Canadian Coast Guard Vessels. This database was developed for users in the Pacific Region and other interested parties. It is designed to allow users to search, preview, and download data related to underwater image surveys.</p>
  <p>Data provided here were collected between 2000-2024 using Remotely Operated Vehicles (ROV) and Submersibles. The data include species observations and survey locations. New resources will be uploaded as archival data are added and annotation of underwater imagery is completed. Additional underwater imagery will be added from Towed Cameras, and stereo-Baited Remote Underwater Video (BRUV) systems.</p>
  <p>This is a newly launched data portal that is still under development. If you need assistance, find an error or have questions, please contact Robert.Skelly@dfo-mpo.gc.ca.</p>
  </section>

  <section>
  <h2>Guidelines for Use</h2>
  
  <p>DFO has worked to provide open access to these DFO products with appropriate and complete documentation. We developed these guidelines to prevent misuse of our products:</p>
  <ul>
    <li>The absence of a feature in any area on the map portal should not be interpreted as true absence, as it may indicate a data gap. </li>
    <li>The presence of a feature in any area on the map may not represent the exact location. Precise locations are dependent on the quality of the positional data and metadata.</li>
  </ul>

  <p>Please acknowledge the DFO for products that you use. Cite as: Fisheries and Oceans Canada. 2024. Pacific Science Imagery Database: A Product of the Marine Spatial Ecology and Analysis Section.</p>

  <p>This information is provided under the Open Government License - Canada.</p>

  <p>Last updated: July 2024</p>
</section>
</main>
</template>
