<script setup>
    import { reactive, ref } from 'vue';
    import { Net } from '@/js/util';

    // Transmission object. Sent to server.
    const email = reactive({
        email: null,
        message: null,
        topic: null,
        time: null,
    });
    
    // Validation object. Contains error messages.
    const validation = reactive({
        email: null,
        message: null,
        topic: null,
    });

    // List of topics.
    const topics = ['Registration', 'Log In', 'Data or Searching', 'Other'];

    // The status of the send/response.
    const status = ref(null);

    /**
     * Reset the form for sending again.
     * @param {*} evt 
     */
    const reset = (evt) => {
        evt.preventDefault();
        status.value = null;
    };

    /**
     * Send the form.
     * @param {*} evt 
     */
    const send = (evt) => {
        evt.preventDefault();
        
        // Get the time in the user's time zone.
        email.time = new Date().toLocaleString();

        // Send the message.
        Net.post(`${Net.API}/contact/`, email)
            .then(result => {
                if(!result.sent) {
                    if(result.validation)
                        Object.keys(validation).forEach(k => validation[k] = result.validation[k]);
                    status.value = 'error';
                } else {
                    status.value = 'success';
                }
            })
            .catch(alert);
    };

</script>

<template>
  <main>

    <h1>Contact Us</h1>

    <p>Use this form to contact us with any questions or concerns, or issues with the site. We look forward to hearing from you!</p>

    <div class="error_box" v-if="status=='error'">
        There was a problem sending your message. Please check the form and try again.
    </div>

    <div class="success_box" v-if="status=='success'">
        Your message has been sent! Thank you for contacting MSEA.
    </div>

    <form v-if="status!='success'">
        <table>
            <tr>
                <th><label for="email">Your Email Address</label></th>
                <td>
                    <input id="email" v-model="email.email" />
                    <div class="form_error" v-if="validation.email">{{ validation.email }}</div>
                </td>
            </tr>
            <tr>
                <th><label for="topic">Topic</label></th>
                <td>
                    <select id="topic" v-model="email.topic">
                        <option :value="null" disabled>-- Select One --</option>
                        <option v-for="t in topics" :value="t">{{ t }}</option>
                    </select>
                    <div class="form_error" v-if="validation.topic">{{ validation.topic }}</div>
                </td>
            </tr>
            <tr>
                <th><label for="message">Message</label></th>
                <td>
                    <textarea id="message" cols="100" rows="10" v-model="email.message"></textarea>
                    <div class="form_error" v-if="validation.message">{{ validation.message }}</div>
                </td>

            </tr>
            <tr><td colspan="2"><button @click="send($event)">Send</button></td></tr>
        </table>
    </form>
    <div v-else>
        <button @click="reset($event)">Send Another</button>
    </div>

</main>
</template>
