<script setup>
    const props = defineProps(['status']);
</script>
<template>
    <div class="error_box" v-if="props.status=='password_empty' || props.status=='email_empty'">
        <div>An email and password must be supplied.</div>
    </div>		

    <div class="error_box" v-if="props.status=='email_bad_format'">
        <div>Please enter a correctly-formatted email.</div>
    </div>		

    <div class="error_box" v-if="props.status=='login_failed'">
        <p>The email or password were incorrect, or the user was not registered. Please try logging in again,
            or <a href="/rov/register" title="Register">register for an account.</a></p>
        <p>If you have forgotten your password, you can reset it <a href="/rov/reset" title="Reset Password">here</a>.</p>
        <p>If all else fails, <a href="/rov/contact" title="Contact Us">contact us</a>.</p>
    </div>		

    <div class="error_box" v-if="props.status=='max_tokens_exceeded'">
        <p>The maximum number of logins has been exceeded. Please wait a while before trying again.</p>
    </div>		

    <div class="error_box" v-if="props.status=='verification_expired'">
        <p>The verification link has expired. Click <a href="/rov/verify/?mode=resend" 
            title="Resent Verification Code">here</a> to send a new one.</p>
    </div>		

    <div class="error_box" v-if="props.status=='verification_pending'">
        <p>This user has already been created and a verification email has been sent. Please check your email.</p>
        <p>If the email has not arrived, please click <a href="/rov/verify/?mode=resend" 
            title="Resent Verification Code">here</a> to send a new one.</p>
    </div>

    <div class="success_box" v-if="props.status=='logged_in'">
        <p>Login succeeded.</p>
    </div>	
</template>