<script setup>
	import { ref, onMounted } from 'vue';
	import { Auth } from '@/js/auth.js';
	import AuthMessages from '@/views/auth/AuthMessages.vue';

	const loginState = ref(0);		// If 0, indeterminate; 1, logged out; 2, logged in.
	const working = ref(false);	// True when waiting for a service.
	const status = ref(null);		// The status of the response.

	/**
	 * Log the user out.
	 * @param {*} evt 
	 */
	const logout = (evt) => {
		evt.preventDefault();
		Auth.logout();
	};

	/**
	 * Log the user in.
	 * @param {*} evt 
	 */
	const login = (evt) => {
		evt.preventDefault();
		status.value = null;
		loginState.value = 0;
		working.value = true;
		Auth.formLogin(evt.target)
			.then(result => {
				handleStatus(result);
				working.value = false;
			})
			.catch(err => {
				working.value = false;
				alert(err);
			});
	};

	/**
	 * Handle the service result.
	 */
	const handleStatus = (result) => {
		if(result)
			status.value = result.status;
	};

	onMounted(() => {
		Auth.observe('authUpdate', () => {
			loginState.value = Auth.isLoggedIn ? 2 : 1;
		});
		Auth.getSession();
	});
</script>

<template>
  <main>
	<section>
		<h1>Log In</h1>

		<AuthMessages :status="status" />

		<template v-if="loginState==1">
			<p>Enter your email and password to log in.</p>
			<p>If you have forgotten your password, you may <a href="/rov/reset" title="Reset Password">reset it</a>.</p>
			<form @submit="login($event)">
				<table>
					<tr>
						<th><label for="email">Email</label></th>
						<td><input id="email" placeholder="Enter your email." name="email" /></td>
					</tr>
					<tr>
						<th><label for="password">Password</label></th>
						<td><input id="password" placeholder="Enter your password." name="password" type="password" /></td>
					</tr>
					<tr>
						<td colspan="2"><button :disabled="working">Log In</button></td>
					</tr>
				</table>
			</form>
		</template>
		<template v-else-if="loginState==2">
			<p>You are logged in. You may visit your <a href="/rov/profile" title="Profile">profile</a>.</p>
			<button @click="logout($event);" :disabled="working">Log Out</button>
		</template>
		<template v-else>
			<p>Working...</p>
		</template>
	</section>
  </main>
</template>
