<script setup>
	import { Auth } from '@/js/auth.js';
  Auth.observe('authUpdate', () => {
	if(!Auth.isLoggedIn)
		document.location = '/rov';
  });
  Auth.logout();
</script>

<template>
  <main>
	<section>
		<h1>Logging Out...</h1>
	</section>
  </main>
</template>
