<script setup>
    import { onMounted, ref } from 'vue';
	import { Auth } from '@/js/auth.js';
import { Group } from '@/js/auth/models.js';
	
    let UPDATE_RECIPIENT = null;

    const user = ref(null);         // The user.
    const loggedIn = ref(false);    // True if the user is logged in.
    const working = ref(false);     // True if a service is currently being accessed.

    /**
     * Save the user.
     * @param {*} evt 
     */
    const save = (evt) => {
        evt.preventDefault();
        working.value = true;
        Auth.saveProfile(user.value)
            .then(() => working.value = false)
            .catch(err => {
                working.value = false;
                alert(err);
            });
    };
    
    const receiveUpdatesChange = (evt) => {
        if(user.value.isDataUpdateRecipient) {
            user.value.removeGroup(UPDATE_RECIPIENT);
        } else {
            user.value.addGroup(UPDATE_RECIPIENT);
        }
    };

    Auth.observe('authUpdate', () => {
        loggedIn.value = Auth.isLoggedIn;
        user.value = Auth.profile;
    });
    Auth.getSession();

    onMounted(() => {
        Group.loadAll({filter: {name: 'msea_data_update_recipient'}})
            .then(result => UPDATE_RECIPIENT = result[0])
            .catch(alert);
    })
</script>

<template>
  <main>
	<section>
        <div v-if="loggedIn">
            <h1>Profile</h1>
            <form v-if="user" @submit="save($event)">
                <section>
                    <h2>Personal Information</h2>
                    <table>
                        <tr>
                            <th><label for="first_name">First Name</label></th>
                            <td><input id="first_name" v-model="user.first_name" /></td>
                        </tr>
                        <tr>
                            <th><label for="last_name">Last Name</label></th>
                            <td><input id="last_name" v-model="user.last_name" /></td>
                        </tr>
                        <tr>
                            <th><label for="email">Email</label></th>
                            <td><input id="email" v-model="user.email" /></td>
                        </tr>
                        <tr>
                            <th><label for="organization">Organization</label></th>
                            <td><input id="organization" v-model="user.organization" /></td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h3>Receive Data Updates</h3>
                    <p>If you wish to receive updates when new data are added, check the box below. Updates will be sent to your registration email.</p>
                    <table>
                        <tr>
                            <th><label for="receive_updates">Receive Updates</label></th>
                            <td><input @change="receiveUpdatesChange($event)"
                                id="receive_updates" type="checkbox" 
                                :disabled="!UPDATE_RECIPIENT"
                                :checked="user.isDataUpdateRecipient" /></td>
                        </tr>
                    </table>
                </section>

                <section v-if="user.isImporter">
                    <h3>Biigle Credentials</h3>
                    <p>If you are a designated importer, you will need to enter your Biigle
                        credentials in order to download data from 
                        <a href="https://biigle.de" title="Biigle" target="_blank">Biigle</a>.</p>
                    <table>
                        <tr>
                            <th><label for="biigle_username">Biigle Username</label></th>
                            <td><input id="biigle_username" v-model="user.biigle_username" /></td>
                        </tr>
                        <tr>
                            <th><label for="biigle_api_key">Biigle API Key</label></th>
                            <td><input id="biigle_api_key" v-model="user.biigle_api_key" /></td>
                        </tr>
                    </table>
                </section>
                <section v-if="user.isAdmin || user.isStaff">
                    <h3>User Roles</h3>
                    <p>If you are staff or an administrator, your permissions will be indicated below.</p>
                    <table>
                        <tr>
                            <th><label for="is_staff">Is Staff</label></th>
                            <td>
                                <input disabled type="checkbox" id="is_staff" v-model="user.isStaff" />
                            </td>
                        </tr>
                        <tr>
                            <th><label for="is_superuser">Is Superstar</label></th>
                            <td>
                                <input disabled type="checkbox" id="is_superuser" v-model="user.isSuperuser" />
                            </td>
                        </tr>
                    </table>

                    <h3>Groups</h3>
                    <p>Users may belong to various groups that confer specific privileges. This section lists
                        the groups to which you belong.</p>
                    <table>
                        <tr>
                            <th>
                                <label>Groups</label>
                            </th>
                            <td>
                                <select disabled multiple v-model="user.groups">
                                    <option v-for="g in user.groups" :value="g">{{ g.name }}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </section>

                <div><button :disabled="working || !user.dirty">Save</button></div>

            </form>
            <p v-else>Loading...</p>
        </div>
        <div v-else>
            You must <a href="/rov/login" title="Log In">log in</a>.
        </div>
	</section>
  </main>
</template>
