<script setup>
	import { reactive, ref } from 'vue';
	import { Net } from "@/js/util.js";
	import { User } from "@/js/auth/models.js";
	import { Validator } from '@/js/validator.js';

	// Types of organizations.
	const org_types = User.categories;
	const working = ref(false);
	const status = ref(null);
	const showForm = ref(true);		// True when the form should be shown.

	// The registration user data.
	const user = reactive({
		password: null,
		password_confirm: null,
		email: null,
		first_name: null,
		last_name: null,
		organization: null,
		org_type: null,						// The category of organization. First Nation, scientific, government, etc.
		registration_reason: null,			// A short note on why the user wants access.
	});

	// Used to store validation messages.
	const validation = reactive({
		password: null,
		email: null,
		first_name: null,
		last_name: null,
		organization: null,
		org_type: null,
		registration_reason: null,
	});

	/**
	 * Register the user.
	 * @param {*} evt 
	 */
	const register = (evt) => {
		evt.preventDefault();
		working.value = true;
		Net.post(`${Net.API}/account/register/`, user)
			.then(result => {
				handleStatus(result);
				working.value = false;
			})
			.catch(err => {
				working.value = false;
				alert(err);
			});
	};

	/**
	 * Resend the verification email.
	 */
	const resendVerification = (evt) => {
		evt.preventDefault();
		working.value = true;
		Net.get(`${Net.API}/account/verification/?action=resend&email=${user.email}`)
			.then(result => {
				handleStatus(result);
				working.value = false;
			})
			.catch(err => {
				working.value = false;
				alert(err);
			});
	};

	const handleStatus = (result) => {
		if(result) {
			status.value = result.status;
			showForm.value = ['verification_sent', 'registration_succeeded', 'verification_pending', 'verification_expired'].indexOf(status.value) == -1;
			if(result.validation) {
				Object.keys(validation).forEach(k => {
					validation[k] = result.validation[k];
				});
			}
		}
	};

</script>

<template>
  <main>
    	<section>
			<h1>Register</h1>
			<p>To register for data access, please fill out the form below to register for an account.</p>
			<p>If you already have an account, you can <a href="/rov/login" title="Log In">log in</a>.</p>

			<div class="error_box" v-if="status=='verification_expired'">
				<p>This user has already been created but the verification link has expired.</p>
				<p>Please <a href="javascript:void(0);" @click="resendVerification($event)" 
					title="Resend verification email.">click here</a> to send it again.</p>
			</div>

			<div class="error_box" v-if="status=='verification_pending'">
				<p>This user has already been created and a verification email has been sent. Please check your email.</p>
				<p>If the email has not arrived, please <a href="javascript:void(0);" @click="resendVerification($event)" 
					title="Resend verification email.">click here</a> to send it again.</p>
			</div>

			<div class="error_box" v-if="status=='user_exists'">
				<p>This user already exists. Please <a href="/rov/login" title="Log in.">log in</a> or use a different email.</p>
			</div>

			<div class="error_box" v-if="status=='validation_failed'">
				<p>Validation has failed. Please check the form and correct all errors.</p>
			</div>

			<div class="success_box" v-if="status=='registration_succeeded'">
				<p>Registration has succeeded. Please check your email for a verification link.</p>
			</div>

			<div class="success_box" v-if="status=='verification_sent'">
				<p>A verification email has been sent. Please check your email.</p>
			</div>

			<template v-if="!working">
				<form @submit="register($event)" v-if="showForm">
					<table>
						<tr>
							<th><label for="first_name">First Name</label></th>
							<td>
								<input id="first_name" name="first_name" v-model="user.first_name" 
									placeholder="Enter your first name." />
								<div class="form_error" v-if="validation.first_name">{{ validation.first_name }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="last_name">Last Name</label></th>
							<td>
								<input id="last_name" name="last_name" v-model="user.last_name" 
									placeholder="Enter your last name."/>
								<div class="form_error" v-if="validation.last_name">{{ validation.last_name }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="email">Email</label></th>
							<td>
								<input id="email" name="email" v-model="user.email" 
									placeholder="Enter your email address." />
								<div class="form_error" v-if="validation.email">{{ validation.email }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="password">Password</label></th>
							<td>
								<input id="password" name="password" v-model="user.password" 
									type="password" placeholder="Enter a password." />
								<div class="form_error" v-if="validation.password">{{ validation.password }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="password_confirm">Confirm Password</label></th>
							<td>
								<input id="password_confirm" name="password_confirm" v-model="user.password_confirm" 
									type="password" placeholder="Enter the same password again." />
							</td>
						</tr>
						<tr>
							<th><label for="organization">Organization</label></th>
							<td>
								<input id="organization" name="organization" v-model="user.organization" 
									placeholder="Enter the name of your organization." />
								<div class="form_error" v-if="validation.organization">{{ validation.organization }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="org_type">Type of Organization</label></th>
							<td>
								<select id="org_type" name="org_type" v-model="user.org_type">
									<option :value="null" selected disabled>-- Select One --</option>
									<option v-for="t in org_types">{{ t }}</option>
								</select>
								<div class="form_error" v-if="validation.org_type">{{ validation.org_type }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="registration_reason">Reason for Registering</label></th>
							<td>
								<textarea id="registration_reason" name="registration_reason" v-model="user.registration_reason" 
									placeholder="Tell us a little something about why you'd like to view this data."></textarea>
								<div class="form_error" v-if="validation.registration_reason">{{ validation.registration_reason }}</div>
							</td>
						</tr>
						<tr><td colspan="2"><button :disabled="working">Register</button></td></tr>
					</table>
				</form>
			</template>
			<template v-else>
				<p>Working...</p>
			</template>
		</section>
  </main>
</template>
