<script setup>
	import { onMounted, reactive, ref } from 'vue';
    import { useRoute } from 'vue-router';
	import { Net } from "@/js/util.js";
	import { Auth } from '@/js/auth';

	const route = useRoute();		// Get the route.

	const status = ref(null);		// The current status of the request.
	const code = ref(null);			// The reset code.
	const working = ref(false);		// True if a service is currently being accessed.

	/**
	 * Data model containing the user's email.
	 */
	const user = reactive({
		email: null,
	});

	/**
	 * Validation model.
	 */
	const validation = reactive({
		email: null,
	});

    /**
	 * Check the submitted verification code.
	 * @param {*} evt 
	 */
	 const checkCode = (c) => {
        if(!c || c.trim().length == 0) {
            code.value = null;
            status.value = null;
        } else {
            code.value = c;
            status.value = 'checking';
			working.value = true;
            Net.get(`${Net.API}/account/password_reset/?code=${c}`)
                .then(result => {
                    handleStatus(result);
					working.value = false;
                })
                .catch(err => {
					working.value = false;
					alert(err);
				});
        }
	};

	const handleStatus = (result) => {
		status.value = result.status;
	};

    const sendReset = (evt) => {
        evt.preventDefault();
		working.value = true;
        Auth.formSendPasswordReset(evt.target)
            .then(result => {
                if(result)
                    status.value = result.status;
				working.value = false;
            })
            .catch(err => {
				working.value = false;
				alert(err);
			});
    }

	const resetPassword = (evt) =>{ 
		evt.preventDefault();
		working.value = true;
		Auth.formResetPassword(evt.target)
			.then(result => {
				if(result)
					status.value = result.status;
					working.value = false;
			})
			.catch(err => {
				alert(err);
				working.value = false;
			});
	}

    onMounted(() => {
		code.value = route.query.code;
    });	
</script>

<template>
  <main>
    	<section>
			<h1>Password Reset</h1>

			<!-- Show the initial message if the reset code is not given (user is visiting from a link). -->
			<template v-if="!code">
				<p>If you have forgotten your password, enter your email address below to send a reset link
					to the email on record.</p>
				<p>If you do not have an account, you can <a href="/rov/register" title="Register">register</a>.</p>
			</template>

			<!-- The user is visiting with a code. -->
			<template v-else>
				<p>Please enter your new password and confirmation below and click <button class="inline-button">Reset</button>.</p>
			</template>

			<div class="error_box" v-if="status=='password_invalid_code'">
				<div>This reset code is invalid. Perhaps you have already reset your password? 
					If in doubt, you may <a href="/rov/reset" title="Reset Password">send youself another code</a>.</div>
			</div>

			<div class="error_box" v-if="status=='email_empty'">
				<div>Please enter an email address.</div>
			</div>

			<div class="error_box" v-if="status=='email_bad_format'">
				<div>Please enter a correctly-formatted email.</div>
			</div>

			<div class="error_box" v-if="status=='password_reset_send_failed' || status=='password_reset_failed' || status=='invalid_email'">
				<p>Password reset failed. Please check your email and try again or 
                    <a href="/rov/contact" title="Contact us.">contact us</a>.</p>
			</div>

			<div class="error_box" v-if="status=='password_short'">
				<div>Your password must be at least 12 characters long.</div>
			</div>

			<div class="error_box" v-if="status=='password_mismatch'">
				<div>Your passwords must match.</div>
			</div>

			<div class="error_box" v-if="status=='password_disallowed'">
				<div>Your contains invalid characters. It cannot be the same as your email or other identifying information.</div>
			</div>

			<div class="error_box" v-if="status=='password_empty'">
				<div>You password cannot be empty.</div>
			</div>

			<div class="error_box" v-if="status=='password_few_unique'">
				<div>Your password contains too few unique characters.</div>
			</div>

			<div class="error_box" v-if="status=='password_reset_expired'">
				<div>The password reset code has expired. Please 
					<a href="/rov/reset" title="Reset Password">click here</a> to send another one to the email on file.</div>
			</div>

			<div class="error_box" v-if="status=='password_invalid_email'">
				<div>This email is not associated with an account. Try again or, if you do not have an account,
					you may <a href="/rov/register" title="Register">register</a>.</div>
			</div>

			<div class="success_box" v-if="status=='password_reset_succeeded'">
				<p>Your password has been reset. You may <a href="/rov/login" title="Log In">log in</a>.</p>
			</div>

			<div class="success_box" v-if="status=='password_reset_send_succeeded'">
				<p>A password reset link has been sent. Please check your email.</p>
			</div>

			<template v-if="!working">
				<form @submit="sendReset($event)" v-if="!code && status != 'password_reset_send_succeeded'">
					<table>
						<tr>
							<th><label for="email">Email</label></th>
							<td>
								<input id="email" name="email" v-model="user.email" 
									placeholder="Enter your email address." />
								<div class="form_error" v-if="validation.email">{{ validation.email }}</div>
							</td>
						</tr>
						<tr><td colspan="2"><button :disabled="working">Send Password Reset Link</button></td></tr>
					</table>
				</form>

				<form @submit="resetPassword($event)" v-if="code && status != 'password_reset_succeeded'">
					<input type="hidden" name="code" :value="code" />
					<table>
						<tr>
							<th><label for="password">New Password</label></th>
							<td>
								<input id="password" type="password" name="password" v-model="user.password" 
									placeholder="Enter your password." />
								<div class="form_error" v-if="validation.password">{{ validation.password }}</div>
							</td>
						</tr>
						<tr>
							<th><label for="password_confirm">Confirm Password</label></th>
							<td>
								<input id="password_confirm" type="password" name="password_confirm" 
									v-model="user.password_confirm"  placeholder="Confirm your password." />
							</td>
						</tr>
						<tr><td colspan="2"><button :disabled="working">Reset</button></td></tr>
					</table>
				</form>
			</template>
			<template v-else>
				<p>Working...</p>
			</template>
		</section>
  </main>
</template>
