<script setup>
	import { onMounted, reactive, ref } from 'vue';
    import { useRoute } from 'vue-router';
	import { Net } from "@/js/util.js";

    const route = useRoute();       // The route.

	const status = ref(null);       // The status of the response.
	const code = ref(null);         // The verification code.
    const working = ref(false);     // True if a services is currently being accessed.
    const mode = ref('');           // The view mode (e.g., resend).
    const showForm = ref(null);     // The name of the form to show.
    const validation = ref({});     // The validation result.

    /**
	 * Check the submitted verification code.
	 * @param {*} evt 
	 */
	const checkCode = (c) => {
        if(!c || c.trim().length == 0) {
            code.value = null;
            status.value = null;
        } else {
            code.value = c;
            status.value = 'checking';
            working.value = true;
            Net.get(`${Net.API}/account/verify/?code=${c}`)
                .then(result => {
                    handleStatus(result);
                    working.value = false;
                })
                .catch(err => {
                    working.value = false;
                    alert(err);
                });
        }
	};

    /**
     * Handle the form submit.
     * @param {*} evt 
     */
    const codeSubmit = (evt) => {
        evt.preventDefault();
        const c = new FormData(evt.target).get('code');
        checkCode(c);
    };

	/**
	 * Resend the verification email.
	 */
	const resendVerification = (email) => {
        working.value = true;
		Net.get(`${Net.API}/account/verification/?action=resend&email=${email}`)
			.then(result => {
				handleStatus(result);
                working.value = false;
			})
            .catch(err => {
                    working.value = false;
                    alert(err);
            });
	};

    /**
     * Handle the email form submit.
     * @param {*} evt 
     */
    const resendSubmit = (evt) => {
        evt.preventDefault();
        const email = new FormData(evt.target).get('email');
        resendVerification(email);
    };

    /**
     * Handle the service result.
     * @param {*} result 
     */
	const handleStatus = (result) => {
		status.value = result.status;
        validation.value = result.validation || {};
        checkForm();
    }

    const checkForm = () => {
        if(mode.value == 'resend' && ['verification_sent'].indexOf(status.value) == -1) {
            showForm.value = 'email';
        } else if(mode.value != 'resend' && ['verification_sent', 'verification_succeeded', 'already_verified'].indexOf(status.value) == -1) {
            showForm.value = 'code';
        } else {
            showForm.value = '';
        }
	};

    onMounted(() => {
        mode.value = route.query.mode;
        checkForm();
        // Automatically check the code if one is submitted.
        checkCode(route.query.code);
    });
</script>

<template>
  <main>
    	<section>
			<h1>Verifying Account</h1>
			<p>Use this page to verify your account.</p>

            <p v-if="mode=='resend'">To resend the verification code to your email, enter your address below and click 
                <button class="inline-button">Send</button>.
            </p>
            <p v-else>If you reached this page by clicking a link in the email,
                you should see the result automatically below. If not, paste your code in the box below and click 
                <button class="inline-button">Verify</button>.
            </p>

            <div class="waiting_box" v-if="status=='checking'">
                <p>Checking code...</p>
            </div>

			<div class="error_box" v-if="status=='verification_failed'">
				<p>Verification failed. Please check your code and try again or 
                    <a href="/rov/contact" title="Contact us.">contact us</a>.</p>
			</div>

			<div class="error_box" v-if="status=='verification_send_failed' || status=='invalid_emai'">
				<p>Verification failed. Please check your email and try again or 
                    <a href="/rov/contact" title="Contact us.">contact us</a>.</p>
			</div>

            <div class="success_box" v-if="status=='already_verified'">
				<p>This account is already verified. Please <a href="/rov/login" title="Log in.">log in</a>.</p>
			</div>

			<div class="success_box" v-if="status=='verification_succeeded'">
				<p>Verification has succeeded! Please <a href="/rov/login" title="Log in.">log in</a>.</p>
			</div>

            <div class="success_box" v-if="status=='verification_sent'">
				<p>A verification email has been sent. Please check your email.</p>
			</div>

            <template v-if="!working">
                <div v-if="showForm == 'email'">
                    <form @submit="resendSubmit($event)">
                        <table>
                            <tr>
                                <th><label for="email">Email</label></th>
                                <td>
                                    <input name="email" placeholder="Enter your email address." />
                                    <div class="form_error" v-if="validation.email">{{ validation.email }}</div>
                                </td>
                            </tr>
                            <tr><td colspan="2"><button :disabled="working">Send</button></td></tr>
                    </table>
                    </form>
                </div>

                <div v-else-if="showForm == 'code'">
                    <form @submit="codeSubmit($event)">
                        <table>
                            <tr>
                                <th><label for="code">Verification Code</label></th>
                                <td><input name="code" :value="code" placeholder="Enter the verification code." /></td>
                            </tr>
                            <tr><td colspan="2"><button :disabled="working">Verify</button></td></tr>
                        </table>
                    </form>
                </div>
            </template>
            <template v-else>
                <p>Working...</p>
            </template>
        </section>
  </main>
</template>
