<script setup>
	import { Net } from '@/js/util.js';
</script>

<template>
  <main>
	<h1>Administration</h1>
	
    <p>This is the central page for administering the imagery annotation database.</p>

	<section>
		<h4>User Administration</h4>
		<p>View and manage registered users.</p>
		<ul>
			<li><a href="/rov/administration/rov/users" title="User Administration">User administration.</a></li>
		</ul>
	</section>

	<section>
		<h4>Cruise Import</h4>
		<p>Import cruises and related data.</p>
		<ul>
			<li><a href="/rov/administration/rov/cruise_import" title="Cruise Import">Cruise Import</a></li>
			<li><a href="/rov/administration/rov/biigle_label_mapping" title="Biigle Label Mapping">Biigle Label Mapping</a></li>
			<li><a href="/rov/administration/rov/generic_label_mapping" title="Generic Label Mapping">Generic Label Mapping</a></li>
		</ul>
	</section>
	
	<section>
		<h4>Django Admin</h4>
		<p>This is the Django administration page, which is particularly useful for managing users and groups.</p>
		<ul>
			<li><a href="/rov/admin" title="Django Administration" target="_blank">Django administration.</a></li>
		</ul>
	</section>

	<section>
		<h4>Annotation Protocols</h4>
		<p>These records describe what parameters were used for photo/video annotation.</p>
		<ul>
			<li><a href="/rov/administration/rov/annotation_jobs" title="Annotation Job Administration">Annotation jobs</a>.</li>
			<li><a href="/rov/administration/rov/annotation_protocols" title="Annotation Protocol Administration">Annotation protocols</a>.</li>
			<li><a href="/rov/administration/rov/annotation_software" title="Annotation Software Administration">Annotation software</a>.</li>
		</ul>
	</section>

	<section>
		<h4>Database Import Queue</h4>
		<p>Download submissions for the database input queue.</p>
		<ul>
			<li><a href="/rov/administration/rov/import_queue" title="Database Import Queue">Database import queue</a>.</li>
		</ul>
		<p>Download the full label map.</p>
		<ul>
			<li><a :href="Net.API + '/import_queue_label_map/download/'" title="Download the Label Map">Label Map download</a>.</li>
		</ul>
	</section>

	<section>
		<h4>Entities</h4>
		<p>These are forms for modifying individual entites used in the database.</p>
		<h5>shared</h5>
		<ul>
			<li><a href="/rov/administration/shared/people">People</a></li>
			<li><a href="/rov/administration/shared/organisations">Organisations</a></li>
			<li><a href="/rov/administration/shared/site">Sites</a></li>
		</ul>
		<h5>rov</h5>
		<ul>
			<li><a href="/rov/administration/rov/program">Programs</a></li>
			<li><a href="/rov/administration/rov/program_role">Program Roles</a></li>
			<li><a href="/rov/administration/rov/hardware">Hardware Inventory</a></li>
			<li><a href="/rov/administration/rov/equipment_types">Equipment Types</a></li>
			<li><a href="/rov/administration/rov/organisations">Organisations</a></li>
			<li><a href="/rov/administration/rov/measurement_types">Measurement Types</a></li>
			<li><a href="/rov/administration/rov/position_types">Position Types</a></li>
			<li><a href="/rov/administration/rov/cruises">Cruises</a></li>
			<li><a href="/rov/administration/rov/cruise_roles">Cruise Roles</a></li>
			<li><a href="/rov/administration/rov/dives">Dives</a></li>
			<li><a href="/rov/administration/rov/dive_roles">Dive Roles</a></li>
			<li><a href="/rov/administration/rov/transects">Transects</a></li>
			<li><a href="/rov/administration/rov/medium_formats">Medium Formats</a></li>
			<li><a href="/rov/administration/rov/medium_types">Medium Types</a></li>
			<li><a href="/rov/administration/rov/restrictions">Restrictions</a></li>
		</ul>
	</section>

	<section>
		<h4>Status Types</h4>
		<p>Status events are used by status events (below) to record certain states during a dive. For the ROV can be on or off transect (i.e., recording or not recording). While there is only one reason to be on-transect, there are several to be on-transect (e.g., a mechanical error, or sidetrack). The status events are thus two-tiered.</p>
		<ul>
			<li><a href="/rov/administration/rov/status_types">Status Types</a></li>
		</ul>
	</section>

	<section>
		<h4>Event Lookups</h4>
		<p>When a habitat or observation event is recorded, there are several properties that can be assigned to the event to distinguish it. Some of these are looked up from the tables below. Each of these tables may include enties used in different cruises, which may not be directly comparable. They are maintained because, though they are not directly comparable or objective, they are necessary to the interpretation of the data.</p>
		<ul>
			<li><a href="/rov/administration/rov/abundance">Abundance</a></li>
			<li><a href="/rov/administration/rov/biocover">Biocover</a></li>
			<li><a href="/rov/administration/rov/complexity">Complexity (Relief)</a></li>
			<li><a href="/rov/administration/rov/flow">Flow</a></li>
			<li><a href="/rov/administration/rov/confidence">Observation Confidence</a></li>
			<li><a href="/rov/administration/rov/coverage">Coverage (Substrates)</a></li>
			<li><a href="/rov/administration/rov/disturbance">Disturbance</a></li>
			<li><a href="/rov/administration/rov/image_quality">Image Quality</a></li>
			<li><a href="/rov/administration/rov/protocol">Survey Protocol</a></li>
			<li><a href="/rov/administration/rov/relief">Relief</a></li>
			<li><a href="/rov/administration/rov/substrate">Substrate</a></li>
			<li><a href="/rov/administration/rov/survey_mode">Survey Mode</a></li>
			<li><a href="/rov/administration/rov/thickness">Thickness (Biocover)</a></li>
		</ul>
	</section>

	<!--
	<section>
		<h4>All Lookup Values</h4>
		<p>Tables containing all the lookup values for reference purposes.</p>
		<ul>
			<li><a href="/rov/administration/rov/all">All Lookups</a></li>
		</ul>
	</section>
	-->
	
  </main>
</template>
