<script setup>
    import { ref, onMounted } from 'vue';
    import { useRoute } from 'vue-router';
    import { AnnotationJob, AnnotationProtocol } from "@/js/rov/models.js";

    const route = useRoute();

    const annotationJob = ref(null);       // The annotation job.
    const loading = ref(false);

    /**
     * Load the observations. The name is a key into the datasets object.
     * @param {*} name A key into the datasets object.
     */
    const loadJob = (id) => {
        loading.value = true;
        AnnotationJob.loadOne(AnnotationJob, id)
            .then(result => {
                loading.value = false;
                annotationJob.value = result;
            })
            .catch(err => {
                loading.value = value;
                alert(err);
            });
    }

    onMounted(() => {
        loadJob(route.params.annotationJobId);
    });

</script>

<template>
  <main>
    <h1>Annotation Job</h1>

	<p>This page provides information about an annotation job.</p>

    <section v-if="annotationJob">
        <h2>{{ annotationJob.name }}</h2>

        <table>
            <tr>
                <th>Objective</th>
                <td>{{ annotationJob.objective }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ annotationJob.note }}</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>{{ annotationJob.start_date }}</td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>{{ annotationJob.end_date }}</td>
            </tr>
            <tr>
                <th>Annotation Protocols</th>
                <td>
                    <div v-for="p in annotationJob.annotation_protocols">
                        <a :href="'/rov/annotation_protocol/' + p.annotation_protocol.id" 
                            :title="'Annotation Protocol: ' + p.annotation_protocol.name">{{ p.annotation_protocol.name }}</a>
                    </div>
                </td>
            </tr>
        </table>
    </section>

  </main>
</template>
