<script setup>
    import { ref, onMounted } from 'vue';
    import { useRoute } from 'vue-router';
    import { AnnotationProtocol } from "@/js/rov/models.js";

    const route = useRoute();

    const annotationProtocol = ref(null);       // The annotation job.
    const loading = ref(false);

    /**
     * Load the observations. The name is a key into the datasets object.
     * @param {*} name A key into the datasets object.
     */
    const loadJob = (id) => {
        loading.value = true;
        Model.loadOne(AnnotationProtocol, id)
            .then(result => {
                loading.value = false;
                annotationProtocol.value = result;
            })
            .catch(err => {
                loading.value = value;
                alert(err);
            });
    }

    onMounted(() => {
        loadJob(route.params.annotationProtocolId);
    });

</script>

<template>
  <main>
    <h1>Annotation Protocol</h1>

	<p>This page provides information about an annotation job.</p>

    <section v-if="annotationProtocol">
        <h2>{{ annotationProtocol.name }}</h2>

        <table>
            <tr>
                <th>Creator</th>
                <td v-if="annotationProtocol.creator">{{ annotationProtocol.creator.first_name + ' ' +  annotationProtocol.creator.last_name }}</td>
                <td v-else>Unknown</td>
            </tr>
            <tr>
                <th>Medium</th>
                <td v-if="annotationProtocol.medium_type">{{ annotationProtocol.medium_type.name }}</td>
                <td v-else>Unknown</td>
            </tr>
            <tr>
                <th>Annotation Software</th>
                <td v-if="annotationProtocol.annotation_software">{{ annotationProtocol.annotation_software.name }}</td>
                <td v-else>Unknown</td>
            </tr>
            <tr>
                <th>Image Interval</th>
                <td>{{ annotationProtocol.image_interval + annotationProtocol.image_interval_unit }}</td>
            </tr>
            <tr>
                <th>Image Overlap</th>
                <td>{{ annotationProtocol.image_overlap }}</td>
            </tr>
            <tr>
                <th>Observation Interval</th>
                <td>{{ annotationProtocol.observation_interval + annotationProtocol.observation_interval_unit }}</td>
            </tr>
            <tr>
                <th>Habitat Interval</th>
                <td>{{ annotationProtocol.habitat_interval + annotationProtocol.habitat_interval_unit }}</td>
            </tr>
            <tr>
                <th>Field of View Interval</th>
                <td>{{ annotationProtocol.fov_interval + annotationProtocol.fov_interval_unit }}</td>
            </tr>
            <tr>
                <th>Invertebrate Species</th>
                <td>{{ annotationProtocol.invertebrate_species }}</td>
            </tr>
            <tr>
                <th>Fish Species</th>
                <td>{{ annotationProtocol.fish_species }}</td>
            </tr>
            <tr>
                <th>Algae Species</th>
                <td>{{ annotationProtocol.algae_species }}</td>
            </tr>
            <tr>
                <th>Biogenic Habitat</th>
                <td>{{ annotationProtocol.biogenic_habitat }}</td>
            </tr>
            <tr>
                <th>Habitat Only</th>
                <td>{{ annotationProtocol.habitat_only }}</td>
            </tr>
            <tr>
                <th>Species Guide</th>
                <td>{{ annotationProtocol.species_guide }}</td>
            </tr>
            <tr>
                <th>Protocol Document</th>
                <td>{{ annotationProtocol.protocol_document }}</td>
            </tr>
            <tr>
                <th>Documents</th>
                <td>
                    <div v-for="d in annotationProtocol.documents">{{ d.title }}</div>
                </td>
            </tr>

        </table>
    </section>

  </main>
</template>
