<script setup>
    import { onMounted } from 'vue';
    import { ROVHomeMap } from '@/js/map.js';

    const map = new ROVHomeMap();

    onMounted(() => {
    	map.show('rovmap');
    });
</script>

<template>
  <main>
    <section>
      <h1>MSEA Imagery Annotation Database</h1>
      <p>This page supports the Marine Spatial Ecology and Analytics Section (MSEA) of Fisheries and Oceans Canada by providing access to spatially-referenced observations collected by remotely-operated vehicles in the Northeast Pacific Ocean.</p>
      <p>Here you will find:
        <ul>
          <li>Survey, dive and transect metadata.</li>
          <li>Observations of organisms, habitats and anthropogenic debris.</li>
          <li>Navigation, depth and water properties data.</li>
        </ul>
      </p>
      <p>Use the map below or the menu at left to browse or search the database.</p>
    </section>

    <section>
      <h2>Places We've Been</h2>
      <p>These are the tracks of ROV, submersible and drop camera dives. Each colour corresponds to a cruise.</p>
      <p>Click on the map to navigate to a dive, or use the links below. Hover over a cruise to zoom the 
        map to the related dives. Click a cruise to see more information about it.</p>
      <div id="rovmap" class="map"></div>
      <canvas id="canv" class="map_canv"></canvas>
      <div>
        <p>Currently showing <span id="dive_count">...</span> dives in <span id="cruise_count">...</span> cruises.</p>
        <div id="cruise_menu"></div>
      </div>
    </section>
  </main>
</template>
