<script setup>
    import { ref, reactive, onMounted } from 'vue';
    import { AnnotationProtocol, AnnotationSoftware, MediumType } from '@/js/rov/models.js';
    import { Person } from '@/js/shared/models.js';
    import { ImportUpload } from '@/js/imports/models.js';
    import { Net } from '@/js/util.js';

    let owner = null;
    let propName = null;
    let list = null;
    let setId = false;

    const annotationProtocol = ref(null);       // The annotationProtocol instance.
    const showing = ref(false);                 // True when form is showing.
    const saving = ref(false);                  // True when form is saving.
    const annotationSoftware = reactive([]);
    const people = reactive([]);
    const mediumTypes = reactive([]);

    // Species options for the drop-down.
    const species_options = ['All', 'Subset', 'None', 'Unknown'];
    // Units for intervals.
    const units = ['s', 'm'];

    /**
     * Compare the site names for sorting.
     * @param a 
     * @param b 
     */
     const apCmp = (a, b) => {
        let an = (a || {name: ""}).name;
        let bn = (b || {name: ""}).name;
        let r = an.localeCompare(bn);
        return r;
    };

    /**
     * Save the annotationProtocol and update the parent.
     */
    const saveModel = () => {
        saving.value = true;
        annotationProtocol.value.save()
            .then(result => {
                // Add the annotationProtocol and sort the list.
                owner[propName] = setId ? result.id : result;
                list.push(result);
                list.sort(apCmp);
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     * @param {*} evt 
     * @param {*} properties A dictionary of default properties for the object.
     */
    const show = (owner_, propName_, list_=[], setId_=false) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;

        annotationProtocol.value = new AnnotationProtocol();

        people.splice(0);
        Person.loadAll()
            .then(result => people.push(...result))
            .catch(alert);
        mediumTypes.splice(0);
        MediumType.loadAll()
            .then(result => mediumTypes.push(...result))
            .catch(alert);
        annotationSoftware.splice(0);
        AnnotationSoftware.loadAll()
            .then(result => annotationSoftware.push(...result))
            .catch(alert);

        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        annotationProtocol.value = null;
        showing.value = false;
    };

    /**
     * Lookup for file type icon based on mime type.
     */
     const fileIcons = {
        'text/plain': 'fiv-cla fiv-size-md fiv-icon-txt icon_extra',
        'text/csv': 'fiv-cla fiv-size-md fiv-icon-csv icon_extra',
        'application/json': 'fiv-cla fiv-size-md fiv-icon-json icon_extra',
        'text/json': 'fiv-cla fiv-size-md fiv-icon-json icon_extra',
        'application/pdf': 'fiv-cla fiv-size-md fiv-icon-pdf icon_extra',
        'application/msword': 'fiv-cla fiv-size-md fiv-icon-doc icon_extra',
        'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'fiv-cla fiv-size-md fiv-icon-docx icon_extra',
        'application/vnd.ms-powerpoint': 'fiv-cla fiv-size-md fiv-icon-ppt icon_extra'
    };

    /**
     * Add an item to the upload list.
     */
     const addFile = (uploads) => {
        uploads.push(new ImportUpload());
    }

    /**
     * Select a file to upload.
     * @param upload 
     * @param evt 
     */
    const selectFile = (upload) => {
        upload.file = evt.target.files[0];
        upload.file_name = upload.file.name;

    }

    /**
     * Remove a document
     * @param upload 
     */
    const removeFile = (upload) => {
        annotationProtocol.value.documents.splice(annotationProtocol.value.documents.indexOf(upload), 1);
    }

    /**
     * Do the upload on a single file.
     * @param upload 
     */
    const doUpload = (upload) => {
        Net.upload([upload.file])
            .then(result => {
                upload.file_id = result[0].id;
                upload.file_type = result[0].type;
                upload.file = null;
            })
            .catch(alert);
    }

    defineExpose({show, hide});

</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div v-if="annotationProtocol">
            <h2>Add an Annotation Protocol</h2>
            <form enctype="multipart/form-data" @submit.prevent="saveModel()">
                <table>
                    <tr>
                        <th>Name</th>
                        <td><input v-model="annotationProtocol.name" /></td>
                    </tr>
                    <tr>
                        <th>Creator</th>
                        <td>
                            <select v-model="annotationProtocol.creator">
                                <option>-- Select One --</option>
                                <option v-for="p in people"
                                    :value="p">{{ p.last_name + ', ' + p.first_name + ' (' + p.email + ')'}}</option>
                            </select>
                            <button class="material-symbols">add</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Medium Type</th>
                        <td>
                            <select v-model="annotationProtocol.medium_type">
                                <option>-- Select One --</option>
                                <option v-for="m in mediumTypes" :value="m">{{ m.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Annotation Software</th>
                        <td>
                            <select v-model="annotationProtocol.annotation_software">
                                <option>-- Select One --</option>
                                <option v-for="a in annotationSoftware" :value="a">{{ a.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Image Interval</th>
                        <td>
                            <input v-model="annotationProtocol.image_interval" />&nbsp;
                            <select v-model="annotationProtocol.image_interval_unit">
                                <option v-for="u in units" :value="u">{{ u }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Image Overlap</th>
                        <td><input type="checkbox" v-model="annotationProtocol.image_overlap" /></td>
                    </tr>
                    <tr>
                        <th>Observation Interval</th>
                        <td>
                            <input v-model="annotationProtocol.observation_interval" />&nbsp;
                            <select v-model="annotationProtocol.observation_interval_unit">
                                <option v-for="u in units" :value="u">{{ u }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Habitat Interval</th>
                        <td>
                            <input v-model="annotationProtocol.habitat_interval" />&nbsp;
                            <select v-model="annotationProtocol.habitat_interval_unit">
                                <option v-for="u in units" :value="u">{{ u }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Field of View Interval</th>
                        <td>
                            <input v-model="annotationProtocol.fov_interval" />&nbsp;
                            <select v-model="annotationProtocol.fov_interval_unit">
                                <option v-for="u in units" :value="u">{{ u }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Invertebrate Species</th>
                        <td>
                            <select v-model="annotationProtocol.invertebrate_species">
                                <option>-- Select One --</option>
                                <option v-for="o in species_options" :value="o">{{ o }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Fish Species</th>
                        <td>
                            <select v-model="annotationProtocol.fish_species">
                                <option>-- Select One --</option>
                                <option v-for="o in species_options" :value="o">{{ o }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Algae Species</th>
                        <td>
                            <select v-model="annotationProtocol.algae_species">
                                <option>-- Select One --</option>
                                <option v-for="o in species_options" :value="o">{{ o }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr><th>Biogenic Habitat</th><td><input type="checkbox" v-model="annotationProtocol.biogenic_habitat" /></td></tr>
                    <tr><th>Habitat Only</th><td><input type="checkbox" v-model="annotationProtocol.habitat_only" /></td></tr>
                    <tr><th>Note</th><td><textarea v-model="annotationProtocol.note"></textarea></td></tr>
                    <tr>
                        <th>Documents</th>
                        <td>
                            <span>Use this space to link or upload protocol documents or species guides. If you upload a file, 
                                the URL can be provided to indicate the source; if you do not upload a file, the URL is required. An uploaded
                                file will replace an existing file.</span>

                            <table>
                                <tr><th></th><th>File</th><th>Title</th><th></th><th></th></tr>
                                <tr v-for="document in annotationProtocol.documents">
                                    <td>
                                        <span v-if="!document.uploading && document.file_id" :class="fileIcons[document.file_type]"></span>
                                    </td>
                                    <td>
                                        <input v-if="!document.uploading && !document.file_id" type="file" @change.prevent="selectFile(document)" />
                                        <input v-else-if="!document.uploading && document.file_id" v-model="document.file_name" />
                                        <span v-else-if="document.uploading">Uploading: {{ document.status }}%</span>
                                    </td>
                                    <td><input v-model="document.title" /></td>
                                    <td><button @click.prevent="removeFile(document)" class="material-symbols">delete</button></td>
                                    <td><button @click.prevent="doUpload(document)" 
                                        :disabled="document.file==null" class="material-symbols">upload</button></td>
                                </tr>
                            </table>
                            
                            <div><button @click.prevent="addFile(annotationProtocol.documents)">Add a Document File</button></div>
                        </td>
                    </tr>
                </table>
                <button @click.prevent="saveModel()">Save</button>
                <button @click.prevent="hide()">Cancel</button>
            </form>
        </div>
    </div>
</template>