<script setup>
    import { ref } from 'vue';

    let owner = null;
    let propName = null;
    let list = null;
    let setId = null;

    const role = ref(null);
    const showing = ref(false);
    const saving = ref(false);

    /**
     * Compare the site names for sorting.
     * @param a 
     * @param b 
     */
     const ajrCmp = (a, b) => {
        let an = (a || {name: ""}).name;
        let bn = (b || {name: ""}).name;
        let r = an.localeCompare(bn);
        return r;
    };

    const saveRole = () => {
        saving.value = true;
        role.value.save()
            .then(result => {
                owner[propName] = setId ? result.id : result;
                list.push(result);
                list.sort(ajrCmp);
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    const show = (owner_, propName_, list_=[], setId_=false) => {
        // Save the args.
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;
        // Create the role.
        role.value = new AnnotationJobRole();
        // Show the form.
        showing.value = true;
    };

    const hide = () => {
        role.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add a Dive Role</b></p>
            <form @submit.prevent="saveRole()">
                <table v-if="role">
                    <tr><td><label for="name">Name</label></td><td><input id="name" name="name" v-model="role.name" /></td></tr>
                    <tr><td><label for="note">Note</label></td><td><input id="note" name="note" v-model="role.note" /></td></tr>
                    <tr><td colspan="2"><button :disabled="saving">Save</button> <button @click.prevent="hide()">Cancel</button></td></tr>
                </table>
            </form>
        </div>
    </div>
</template>