<script setup>
    import { ref, reactive, onMounted } from 'vue';
    import { AnnotationJob, AnnotationProtocol, AnnotationJobRole } from '@/js/rov/models.js';
    import { Person } from '@/js/shared/models.js';

    import AddPerson from '@/views/popups/AddPerson.vue';
    import AddAnnotationJobRole from '@/views/popups/AddAnnotationJobRole.vue';
    import AddAnnotationProtocol from '@/views/popups/AddAnnotationProtocol.vue';
    import VueDatePicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css'

    const annotationProtocolPopup = ref(null);
    const personPopup = ref(null);
    const rolePopup = ref(null);

    let owner = null;
    let propName = null;
    let list = null;
    let setId = false;

    const annotationJob = ref(null);            // The annotationJob instance.
    const showing = ref(false);                 // True when form is showing.
    const saving = ref(false);                  // True when form is saving.
    const people = reactive([]);                // List of loaded people.
    const roles = reactive([]);                 // List of loaded roles.
    const annotationProtocols = reactive([]);   // List of loaded annotation protocols.

    /**
     * Front-pad the given value with zeroes until it achieves the given length.
     */
     const pad = (v, len=2) => {
        return new String(v).padStart(len, '0');
    };
    
    /**
     * Compare annotation jobs for sorting.
     */
    const ajCmp = (a, b) => {
        let an = (a || {name: ""}).name;
        let bn = (b || {name: ""}).name;
        let r = an.localeCompare(bn);
        return r;
    };

    /**
     * Return an ISO-formatted date-time for the given date.
     */
     const isoTimeFormat = (date) => {
        const y = date.getFullYear();
        const m = pad(date.getMonth() + 1);
        const d = pad(date.getDate());
        const hh = pad(date.getHours());
        const mm = pad(date.getMinutes());
        const ss = pad(date.getSeconds());
        return `${y}-${m}-${d}T${hh}:${mm}:${ss}Z`;
    }

    /**
     * Return and ISO-formatted date for the given date.
     */
    const isoDateFormat = (date) => {
        const y = date.getFullYear();
        const m = pad(date.getMonth() + 1);
        const d = pad(date.getDate());
        return `${y}-${m}-${d}`;
    }

    /**
     * Save the annotationJob and update the parent.
     * @param {*} evt 
     */
    const saveModel = () => {
        saving.value = true;
        annotationJob.value.save()
            .then(result => {
                // Add the annotationJob and sort the list.
                owner[propName] = setId ? result.id : result;
                list.push(result);
                list.sort(ajCmp);
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     */
    const show = (owner_, propName_, list_=[], setId_=false) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;

        annotationJob.value = new AnnotationJob();

        people.splice(0);
        Person.loadAll()
            .then(result => people.push(...result))
            .catch(alert);
        roles.splice(0)
        AnnotationJobRole.loadAll()
            .then(result => roles.push(...result))
            .catch(alert);
        annotationProtocols.splice(0);
        AnnotationProtocol.loadAll()
            .then(result => annotationProtocols.push(...result))
            .catch(alert);

        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        annotationJob.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});

</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div v-if="annotationJob">
            <h2>Add an Annotation Job</h2>
            <form @submit.prevent="saveModel()">
                <table>
                    <tr>
                        <th>Name</th>
                        <td colspan="2"><input v-model="annotationJob.name" /></td>
                    </tr>
                    <tr>
                        <th>Start Date</th>
                        <td colspan="2"><VueDatePicker utc="preserve" timezone="UTC" v-model="annotationJob.start_time" :format="isoDateFormat" /></td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                        <td colspan="2"><VueDatePicker utc="preserve" timezone="UTC" v-model="annotationJob.end_time" :format="isoDateFormat" /></td>
                    </tr>
                    <tr>
                        <th>Annotation Protocols</th>
                        <td>
                            <select v-model="annotationJob.annotation_protocols" multiple>
                                <option value=""></option>
                                <option v-for="ap in annotationProtocols" :value="ap">{{ ap.name }}</option>
                            </select>
                        </td>
                        <td>
                            <button @click.prevent="annotationProtocolPopup.show(annotationJob, 'annotation_protocol', annotationProtocols)" 
                                class="material-symbols">add</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Crew</th>
                        <td colspan="2">
                            <table>
                                <tr v-if="annotationJob.crew.length"><th>Person</th><th></th><th>Role</th><th></th><th></th></tr>
                                <tr v-for="crew in annotationJob.crew">
                                    <td>
                                        <select v-model="crew.person">
                                            <option value="" disabled>-- Select One --</option>
                                            <option v-for="p in people" :value="p">{{ p.last_name }}, {{ p.first_name }}</option>
                                        </select>
                                    </td>
                                    <td><button class="material-symbols" @click.prevent="personPopup.show(crew, 'person', people)">add</button></td>
                                    <td>
                                        <select v-model="crew.role">
                                            <option value="" disabled>-- Select One --</option>
                                            <option v-for="r in roles" :value="r">{{ r.name }}</option>
                                        </select>
                                    </td>
                                    <td><button class="material-symbols" @click.prevent="rolePopup.show(crew, 'role', roles)">add</button></td>
                                    <td><button @click.prevent="annotationJob.removeCrew(crew)" class="material-symbols">delete</button></td>
                                </tr>
                            </table>

                            <div><button @click.prevent="annotationJob.addCrew()">Add a Crew Member</button></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td colspan="2"><textarea v-model="annotationJob.note"></textarea></td>
                    </tr>
                </table>
                <button @click.prevent="saveModel()">Save</button>
                <button @click.prevent="hide()">Cancel</button>
            </form>
        </div>
    </div>

    <AddAnnotationProtocol ref="annotationProtocolPopup" />
    <AddPerson ref="personPopup" />
    <AddAnnotationJobRole ref="rolePopup" />

</template>