<script setup>
    import { ref } from 'vue';
    import { Biocover } from '@/js/rov/models.js';

    const entityName = 'Biocover';
    const entityCls = Biocover;
    
    let owner = null;                       // The owner of the property to be updated.
    let propName = null;                    // The name of the property to be updated.
    let list = null;                        // The list to which the object will be added.
    let setId = false;                      // If true, set the ID of the entity on the owner. Otherwise, set the entity itself.

    const entity = ref(null);
    const showing = ref(false);
    const saving = ref(false);

    /**
     * Compare the entity names for sorting.
     * @param a 
     * @param b 
     */
    const entityCmp = (a, b) => {
        let an = (a || {name: ""}).name;
        let bn = (b || {name: ""}).name;
        let r = an.localeCompare(bn);
        return r;
    };

    /**
     * Save the entity.
     */
    const saveEntity = () => {
        saving.value = true;
        entity.value.save()
            .then(result => {
                list.push(result);
                list.sort(entityCmp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show and configure the form.
     * @param owner_ The object with the property that will be set with the new entity.
     * @param propName_ The name of the property on the object.
     * @param list_ The list to which the new entity will be added.
     * @param setId_ If true, the ID will be set on the property, rather than the entity itself.
     */
     const show = (owner_, propName_, list_=[], setId_=false) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;
        entity.value = new entityCls();
        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        entity.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add a {{ entityName }}</b></p>
            <form @submit.prevent="saveEntity()">
                <table v-if="entity">
                    <tbody>
                        <tr><td><label for="name">Name</label></td><td><input id="name" name="name" v-model="entity.name" /></td></tr>
                        <tr><td><label for="note">Note</label></td><td><input id="note" name="note" v-model="entity.note" /></td></tr>
                        <tr><td colspan="2">
                            <button :disabled="saving">Save</button> 
                            <button @click.prevent="hide()">Cancel</button>
                            </td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</template>