<script setup>
    import { ref } from 'vue';
    import { CruiseRole } from '@/js/rov/models.js';
        
    let owner = null;                       // The owner of the property to be updated.
    let propName = null;                    // The name of the property to be updated.
    let list = null;                        // The list to which the object will be added.
    let setId = false;                      // If true, set the instance ID on the owner, rather than the entity.

    const role = ref(null);
    const showing = ref(false);
    const saving = ref(false);

    /**
     * Compare the site names for sorting.
     * @param a 
     * @param b 
     */
     const roleCmp = (a, b) => {
        let an = (a || {name: ""}).name;
        let bn = (b || {name: ""}).name;
        let r = an.localeCompare(bn);
        return r;
    };

    /**
     * Save the role.
     */
    const saveRole = () => {
        saving.value = true;
        role.value.save()
            .then(result => {
                list.push(result);
                list.sort(roleCmp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show and configure the form.
     * @param owner_ The object with the property that will be set with the new entity.
     * @param propName_ The name of the property on the object.
     * @param list_ The list to which the new entity will be added.
     * @param setId_ If true, the ID will be set on the property, rather than the entity itself.
     */
    const show = (owner_, propName_, list_=[], setId_=false) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;
        role.value = new CruiseRole();
        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        role.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add a Cruise Role</b></p>
            <form @submit.prevent="saveRole()">
                <table v-if="role">
                    <tbody>
                        <tr><td><label for="name">Name</label></td><td><input id="name" name="name" v-model="role.name" /></td></tr>
                        <tr><td><label for="note">Note</label></td><td><input id="note" name="note" v-model="role.note" /></td></tr>
                        <tr><td colspan="2"><button :disabled="saving">Save</button> <button @click.prevent="hide()">Cancel</button></td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</template>