<script setup>
    import { ref, reactive } from 'vue';
    import { EquipmentType } from '@/js/rov/models.js';
    
    let owner = null;
    let propName = null;
    let list = null;

    const type = ref(null);
    const showing = ref(false);
    const saving = ref(false);

    const categories = reactive(['Instrument', 'Platform']);

    const cmp = (a, b) => {
        try {
            return a.name.localeCompare(b.name);
        } catch(err) {
            return 0;
        }
    }

    const saveType = () => {
        saving.value = true;
        type.value.save()
            .then(result => {
                owner[propName] = result;
                list.push(result);
                list.sort(cmp);
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    const show = (owner_=null, propName_=null, list_=[]) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        type.value = new EquipmentType();
        showing.value = true;
    };

    const hide = (evt) => {
        if(evt) evt.preventDefault();
        type.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add an Equipment Type</b></p>
            <form @submit.prevent="saveType()">
                <table v-if="type">
                    <tr><td><label for="name">Name</label></td><td><input id="name" name="name" v-model="type.name" /></td></tr>
                    <tr>
                        <td><label for="category">Category</label></td>
                        <td>
                            <select id="category" name="category" v-model="type.category">
                                <option :value="null">-- Select One --</option>
                                <option v-for="c in categories" :value="c">{{ c }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><label for="note">Note</label></td><td><input id="note" name="note" v-model="type.note" /></td></tr>
                    <tr><td colspan="2">
                        <button :disabled="saving">Save</button> 
                        <button @click.prevent="hide()">Cancel</button>
                    </td></tr>
                </table>
            </form>
        </div>
    </div>
</template>