<script setup>
    import { reactive, ref } from 'vue';
    import { Instrument, _Model } from '@/js/rov/models.js';
    import { Organisation } from '@/js/shared/models.js';
    import AddOrganisation from '@/views/popups/AddOrganisation.vue';
    import AddModel from '@/views/popups/AddModel.vue';

    let owner = null;       // The owner of the property to be updated.
    let propName = null;    // The name of the property to be updated.
    let list = null;        // The list to which the new object will be added.
    let setId = null;

    const models = reactive([]);            // The list of loaded models to select from.
    const organisations = reactive([]);     // The list of loaded organisation to select from.

    const instrument = ref(null);           // The instrument.
    const showing = ref(false);             // True when the form is showing.
    const saving = ref(false);              // True when the form is saving.
    const orgPopup = ref(null);             // Organisation popup.
    const modelPopup = ref(null);           // Model popup.

    const cmp = (a, b) => {
        try {
            let x = a.model.model_name.localeCompare(b.model.model_name);
            let y = a.model.brand_name.localeCompare(b.model.brand_name);
            return y == 0 ? x : y;
        } catch(e) {
            return 0;
        }
    };

    const cmpName = (a, b) => {
        try {
            return a.name.localeCompare(b.name);
        } catch(e) {
            return 0;
        }
    };
    
    /**
     * Save the instrument.
     */
    const saveInstrument = () => {
        saving.value = true;
        instrument.value.save()
            .then(result => {
                // When the instrument is saved add it to the list and sort.
                list.push(result);
                list.sort(cmp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     * @param {*} properties A dictionary of default properties for the object.
     */
    const show = (owner_, propName_, list_=[], setId_=false, props=null) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;

        instrument.value = new Instrument();

        showProps(props);
        showing.value = true;
    };

    const showProps = (props) => {
        if(props) {
            for(let k of Object.keys(platform.value._props)) {
                if(k in props)
                    platform.value[k] = props[k];
            }
        }

        loadLookups();
    };

    const loadLookups = () => {
        // Load all models.
        _Model.loadAll({category:'Instrument'})
            .then(result => {
                models.splice(0);
                models.push(...result);
                models.sort(cmpName);
            })
            .catch(err => alert(err));
        // Load all organisations.
        Organisation.loadAll()
            .then(result => {
                organisations.splice(0);
                organisations.push(...result);
                organisations.sort(cmpName);
            })
            .catch(err => alert(err));
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        instrument.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <h2>Add an Instrument</h2>
            <form @submit.prevent="saveInstrument()">
                <table v-if="instrument">
                    <tr>
                        <th><label for="organisation">Owner</label></th>
                        <td>
                            <select id="organisation" name="organisation" v-model="instrument.organisation">
                                <option v-if="!organisations.length" disabled :value="null">-- Loading... --</option>
                                <option v-else :value="null">-- Select One --</option>
                                <option v-for="o in organisations" :value="o">{{ o.name + ' (' + o.country + ')' }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="material-symbols"
                                @click.prevent="orgPopup.show(instrument, 'organization', organisations)">add</button>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="model">Model</label></th>
                        <td>
                            <select id="model" name="model" v-model="instrument.model">
                                <option v-if="!models.length" disabled :value="null">-- Loading... --</option>
                                <option v-else :value="null">-- Select One --</option>
                                <option v-for="m in models" :value="m">{{ m.brand_name + ' ' + m.model_name }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="material-symbols"
                                @click.prevent="modelPopup.show(instrument, 'model', models);">add</button>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="serial_number">Serial Number</label></th>
                        <td colspan="2"><input id="serial_number" name="serial_number" v-model="instrument.serial_number" /></td>
                    </tr>
                    <tr>
                        <th><label for="note">Note</label></th>
                        <td colspan="2"><input id="note" name="note" v-model="instrument.note" /></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button :disabled="saving">Save</button>  
                            <button @click.prevent="hide()">Cancel</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <AddModel ref="modelPopup" />
    <AddOrganisation ref="orgPopup" />

</template>