<script setup>
    import { ref, reactive } from 'vue';
    import { MeasurementType } from '@/js/rov/models.js';
    
    let owner = null;               // The owner of the updated property.
    let propName = null;            // The name of the udpated property.
    let list = null;                // The list to add the new object to.
    let setId = false;

    const type = ref(null);         // The MeasurementType.
    const showing = ref(false);     // The popup is showing.
    const saving = ref(false);      // True while the object is saving.

    /**
     * Compare the site names for sorting.
     * @param a 
     * @param b 
     */
     const mtCmp = (a, b) => {
        let an = (a || {name: ""}).name;
        let bn = (b || {name: ""}).name;
        let r = an.localeCompare(bn);
        return r;
    };

    /**
     * Save the measurement type.
     */
    const saveType = () => {
        saving.value = true;
        type.value.save()
            .then(result => {
                list.push(result);
                list.sort(mtCmp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     * @param owner_ 
     * @param propName_ 
     * @param list_ 
     */
    const show = (owner_, propName_, list_=[], setId_=false) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;
        type.value = new MeasurementType();
        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        type.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add an Equipment Type</b></p>
            <form @submit.prevent="saveType()">
                <table v-if="type">
                    <tr>
                        <td><label for="name">Name</label></td>
                        <td><input id="name" name="name" v-model="type.name" /></td>
                    </tr>
                    <tr>
                        <td><label for="unit">Unit</label></td>
                        <td><input id="unit" name="unit" v-model="type.unit" /></td>
                    </tr>
                    <tr>
                        <td><label for="minimum">Minimum</label></td>
                        <td><input id="minimum" name="minimum" v-model="type.minimum" type="number" /></td>
                    </tr>
                    <tr>
                        <td><label for="maximum">Maximum</label></td>
                        <td><input id="maximum" name="maximum" v-model="type.maximum" type="number" /></td>
                    </tr>
                    <tr><td><label for="note">Note</label></td><td><input id="note" name="note" v-model="type.note" /></td></tr>
                    <tr><td colspan="2"><button :disabled="saving">Save</button> <button @click.prevent="hide()">Cancel</button></td></tr>
                </table>
            </form>
        </div>
    </div>
</template>