<script setup>
    import { ref, reactive } from 'vue';
    import { _Model, EquipmentType } from '@/js/rov/models.js';
    import AddEquipmentType from './AddEquipmentType.vue';
    
    let owner = null;                       // The owner of the property to be updated.
    let propName = null;                    // The name of the property to be updated.
    let list = null;                        // The list to which the object will be added.

    const model = ref(null);                // The model instance.
    const showing = ref(false);             // True when form is showing.
    const saving = ref(false);              // True when form is saving.
    const equipment_types = reactive([]);   // List of equipment types.

    const equipmentTypePopup = ref(null);

    const cmpModel = (a, b) => {
        try {
            let n = a.brand_name.localeCompare(b.brand_name);
            if(n == 0)
                return a.model_name.localeCompare(b.model_name);
            return n;
        } catch(err) {
            return;
        }
    };

    /**
     * Save the model and update the parent.
     */
    const saveModel = () => {
        saving.value = true;
        model.value.save()
            .then(result => {
                // Add the model and sort the list.
                list.push(result);
                list.sort(cmpModel);
                owner[propName] = result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     * @param owner_ 
     * @param propName_ 
     * @param list_ 
     */
    const show = (owner_, propName_, list_) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        model.value = new _Model();
        // Load the equipment types.
        EquipmentType.loadAll()
            .then(result => {
                equipment_types.splice(0);
                equipment_types.push(...result);
            });
        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        model.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <h2>Add a Model</h2>
            <form @submit.prevent="saveModel()">
                <table v-if="model">
                    <tr>
                        <td><label for="brand_name">Brand Name</label></td>
                        <td colspan="2"><input id="brand_name" v-model="model.brand_name" /></td>
                    </tr>
                    <tr>
                        <td><label for="model_name">Model Name</label></td>
                        <td colspan="2"><input id="brand_name" v-model="model.model_name" /></td>
                    </tr>
                    <tr>
                        <td><label for="equipment_type">Type</label></td>
                        <td>
                            <select id="equipment_type" v-model="model.equipment_type">
                                <option v-if="equipment_types.length == 0" disabled :value="null">-- Loading... --</option>
                                <option v-else disabled :value="null">-- Select One --</option>
                                <option v-for="t in equipment_types" :value="t">{{ t.name }}</option>
                            </select>
                        </td>
                        <td>
                            <button @click.prevent="equipmentTypePopup.show(model, 'equipment_type', equipment_types)" class="material-symbols">add</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="note">Note</label></td>
                            <td colspan="2"><textarea id="note" v-model="model.note"></textarea></td>
                        </tr>
                    <tr>
                        <td colspan="3">
                            <button :disabled="saving">Save</button> 
                            <button @click.prevent="hide()">Cancel</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <AddEquipmentType ref="equipmentTypePopup" />

</template>