<script setup>
    import { ref, reactive } from 'vue';
    import { Organisation } from '@/js/shared/models.js';

    let owner = null;               // The owner of the property to be updatd.
    let propName = null;            // The name of the property to be updated.
    let list = null;                // The list to which the new object will be added.
    let setId = null;

    const org = ref(null);          // The organisation instance.
    const showing = ref(false);     // True when showing.
    const saving = ref(false);      // True when saving.

    const cmp = (a, b) => {
        try {
            return a.name.localeCompare(b.name);
        } catch(e) {
            return 0;
        }
    };

    /**
     * Save the organisation.
     */
    const saveOrganisation = () => {
        saving.value = true;
        org.value.save()
            .then(result => {
                list.push(result);
                list.sort(cmp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     * @param owner_ 
     * @param propName_ 
     * @param list_ 
     */
    const show = (owner_, propName_, list_=[], setId_=false) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;
        org.value = new Organisation();
        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        org.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <h2>Add an Organisation</h2>
            <form @submit.prevent="saveOrganisation()">
                <table v-if="org">
                    <tr>
                        <th><label for="name">Name</label></th>
                        <td><input id="name" v-model="org.name" /></td>
                    </tr>
                    <tr>
                        <th><label for="country">Country</label></th>
                        <td><input id="country" v-model="org.country" /></td>
                    </tr>
                    <tr>
                        <th><label for="note">Note</label></th>
                        <td><textarea id="note" v-model="org.note"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button :disabled="saving">Save</button> <button @click.prevent="hide()">Cancel</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</template>