<script setup>
    import { ref, reactive } from 'vue';
    import VueDatePicker from '@vuepic/vue-datepicker';
    
    let owner = null;
    let propName = null;
    let list = null;

    const program = ref(null);
    const showing = ref(false);
    const saving = ref(false);

    const dateFormat = (dt) => {
        return dt.toISOString().split('T')[0];
    }

    const cmpName = (a, b) => {
        try {
            return a.name.localeCompare(b.name);
        } catch(e) {
            return 0;
        }
    };

    const saveProgram = () => {
        saving.value = true;
        program.value.start_date = program.value.start_date.split('T')[0]
        program.value.end_date = program.value.end_date.split('T')[0];
        program.value.save()
            .then(result => {
                list.push(result);
                list.sort(cmpName);
                owner[propName] = result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    const show = (owner_, propName_, list_=[]) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        program.value = new Program();
        showing.value = true;
    };

    const hide = () => {
        program.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <h2>Add a Program</h2>
            <form @submit.prevent="saveProgram()">
                <table v-if="program">
                    <tbody>
                        <tr><td><label for="name">Name</label></td><td><input id="name" v-model="program.name" /></td></tr>
                        <tr><td><label for="objective">Objective</label></td><td><textarea id="objective" v-model="program.objective"></textarea></td></tr>
                        <tr><td><label for="note">Note</label></td><td><textarea id="note" v-model="program.note"></textarea></td></tr>
                        <tr><td><label for="start_date">Start Date</label></td><td>
                            <VueDatePicker id="start_date" v-model="program.start_date" :format="dateFormat" utc="preserve" enable-seconds /></td></tr>
                        <tr><td><label for="end_date">End Date</label></td><td>
                            <VueDatePicker id="start_date" v-model="program.end_date" :format="dateFormat" utc="preserve" enable-seconds /></td></tr>
                        <tr>
                            <td colspan="2">
                                <button :disabled="saving">Save</button> 
                                <button @click.prevent="hide()">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</template>