<script setup>
    import { reactive, ref } from 'vue';
    import { Platform, _Model } from '@/js/rov/models.js';
    import { Organisation } from '@/js/shared/models.js';
    import AddOrganisation from '@/views/popups/AddOrganisation.vue';
    import AddModel from '@/views/popups/AddModel.vue';

    let owner = null;
    let propName = null;
    let list = null;
    let setId = null;

    const platform = ref(null);             // The platform instance.
    const showing = ref(false);             // True when the popup is showing.
    const saving = ref(false);              // True when the popup is saving.
    const orgPopup = ref(null);             // Popup for organisations.
    const modelPopup = ref(null);           // Popup for models.
    const organisations = reactive([]);
    const models = reactive([]);

    const cmp = (a, b) => {
        try {
            let x = a.model.model_name.localeCompare(b.model.model_name);
            let y = a.model.brand_name.localeCompare(b.model.brand_name);
            return y == 0 ? x : y;
        } catch(e) {
            return 0;
        }
    };

    const nameCmp = (a, b) => {
        try {
            return a.name.localeCompare(b.name);
        } catch(e) {
            return 0;
        }
    };

    /**
     * Save the platform, trigger the parent and close.
     */
    const savePlatform = () => {
        saving.value = true;
        platform.value.save()
            .then(result => {
                // Add the new entity to the list and sort it.
                list.push(result);
                list.sort(cmp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the form.
     * @param {*} props A dictionary of default properties for the object.
     */
    const show = (owner_, propName_, list_=[], setId_=false, props=null) => {
        owner = owner_;
        propName = propName_;
        setId = setId_;
        list = list_;

        platform.value = new Platform();

        showProps(props);
        showing.value = true;

    };

    const showProps = (props) => {

        if(props) {
            for(let k of Object.keys(platform.value._props)) {
                if(k in props)
                    platform.value[k] = props[k];
            }
        }

        loadLookups();
    };

    const loadLookups = () => {
        // Load all models with the Platform category.
        _Model.loadAll({category:'Platform'})
            .then(result => {
                models.splice(0);
                models.push(...result);
                models.sort(nameCmp);
            })
            .catch(err => alert(err));
        // Load all organisations.
        Organisation.loadAll()
            .then(result => {
                organisations.splice(0);
                organisations.push(...result);
                organisations.sort(nameCmp);
            })
            .catch(err => alert(err));
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        platform.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <h2>Add a Platform</h2>
            <form @submit.prevent="savePlatform()">
                <table v-if="platform">
                    <tr>
                        <th><label for="organisation">Owner</label></th>
                        <td>
                            <select id="organisation" name="organisation" v-model="platform.organisation">
                                <option v-if="!organisations" disabled :value="null">-- Loading... --</option>
                                <option v-else :value="null">-- Select One --</option>
                                <option v-for="o in organisations" :value="o">{{ o.name + ' (' + o.country + ')' }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="material-symbols"
                                @click.prevent="orgPopup.show(platform, 'organisation', organisations)" title="Add a Model">add</button>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="model">Model</label></th>
                        <td>
                            <select id="model" name="model" v-model="platform.model">
                                <option v-if="!models" disabled :value="null">-- Loading... --</option>
                                <option v-else :value="null">-- Select One --</option>
                                <option v-for="m in models" :value="m">{{ m.brand_name + ' ' + m.model_name }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="material-symbols"
                                @click.prevent="modelPopup.show(platform, 'model', models)" title="Add a Model">add</button>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="name">Name</label></th>
                        <td colspan="2"><input id="name" name="name" v-model="platform.name" /></td>
                    </tr>
                    <tr>
                        <th><label for="serial_number">Serial Number</label></th>
                        <td colspan="2"><input id="serial_number" name="serial_number" v-model="platform.serial_number" /></td>
                    </tr>
                    <tr>
                        <th><label for="note">Note</label></th>
                        <td colspan="2"><input id="note" name="note" v-model="platform.note" /></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button :disabled="saving">Save</button>  
                            <button @click.prevent="hide()">Cancel</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <AddModel ref="modelPopup" />
    <AddOrganisation ref="orgPopup" />

</template>