<script setup>
    import { reactive, ref } from 'vue';
    import { Person } from '@/js/shared/models.js';

    let owner = null;                       // The owner of the property to be updated.
    let propName = null;                    // The name of the property to be updated.
    let list = null;                        // The list to which the object will be added.
    let setId = false;                      // If true, set the ID on the property rather than the instance.

    const person = ref(null);       // Reference to a person object.
    const showing = ref(false);     // Set to true when the form is shown.
    const saving = ref(false);      // Set to true when the person is saving. Used to disable/endable form elements.

    /**
     * Save the person.
     */
    const savePerson = () => {
        saving.value = true;
        person.value.save()
            .then(result => {
                // Add the person to the list and sort.
                list.push(result);
                list.sort(Person.comp);
                owner[propName] = setId ? result.id : result;
                showing.value = false;
                saving.value = false;
            })
            .catch(err => {
                saving.value = false;
                alert(err);
            });
    };

    /**
     * Show the form.
     * @param {*} owner_ The object upon which the new person will be set.
     * @param {*} propName_ The property name on the owner that the new person will be set to.
     * @param {*} list_ The list to which the new person will be added.
     * @param {*} setId_ If true, the ID is set to the property rather than the instance.
     * @param {*} props A set of properties to be set on the new person.
     */
    const show = (owner_, propName_, list_=[], setId_=false, props=null) => {

        owner = owner_;
        propName = propName_;
        list = list_;
        setId = setId_;

        person.value = new Person();

        showProps(props);

    };

    const showProps = (props) => {

        if(props) {
            // Show the pre-filled form values. Accomodates different spellings of some properties.
            if(props.firstname)
                person.value.first_name = props.firstname;
            if(props.first_name)
                person.value.first_name = props.first_name;
            if(props.lastname)
                person.value.last_name = props.lastname;
            if(props.last_name)
                person.value.last_name = props.last_name;
            if(props.email)
                person.value.email = props.email;
            if(props.affiliation)
                person.value.affiliation = props.affiliation;
        }
       
        showing.value = true;
    };

    /**
     * Hide the form.
     */
    const hide = () => {
        person.value = null;
        showing.value = false;
    };

    defineExpose({show, showProps, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add an MSEA User</b></p>
            <form @submit.prevent="savePerson()">
                <table v-if="person">
                    <tbody>
                        <tr><td><label for="first_name">First Name</label></td><td><input id="first_name" name="first_name" v-model="person.first_name" /></td></tr>
                        <tr><td><label for="last_name">Last Name</label></td><td><input id="last_name" name="last_name" v-model="person.last_name" /></td></tr>
                        <tr><td><label for="email">Email</label></td><td><input id="email" name="email" v-model="person.email" /></td></tr>
                        <tr><td><label for="affiliation">Affiliation</label></td><td><input id="affiliation" name="affiliation" v-model="person.affiliation" /></td></tr>
                        <tr><td colspan="2"><button :disabled="saving">Save</button> <button @click.prevent="hide()">Cancel</button></td></tr>
                    </tbody>                        
                </table>
            </form>
        </div>
    </div>
</template>