<script setup>
    import { ref } from 'vue';
    import { Restriction } from '@/js/shared/models.js';
    
    let owner = null;
    let propName = null;
    let list = null;

    const restriction = ref(null);
    const showing = ref(false);
    const saving = ref(false);

    /**
     * Compare the restrictions for sorting.
     * @param a 
     * @param b 
     */
    const cmp = (a, b) => {
        try {
            return a.name.localeCompare(b.name);
        } catch(err) {
            return 0;
        }
    };

    /**
     * Safe the restriction.
     */
    const saveRestriction = () => {
        saving.value = true;
        restriction.value.save()
            .then(result => {
                list.push(result);
                list.sort(cmp);
                if(owner && propName) {
                    // Add to the array, or set as a property depending on type.
                    if(owner[propName] instanceof Array) {
                        owner[propName].push(result);
                    } else {
                        owner[propName] = result;
                    }
                }
                showing.value = false;
                saving.value = false;
            })
            .catch(err => { 
                alert(err);
                saving.value = false;
            });
    };

    /**
     * Show the popup.
     */
    const show = (owner_, propName_, list_=[]) => {
        owner = owner_;
        propName = propName_;
        list = list_;
        restriction.value = new Restriction();
        showing.value = true;
    };

    /**
     * Hid the popup.
     */
    const hide = () => {
        restriction.value = null;
        showing.value = false;
    };

    defineExpose({show, hide});
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <p><b>Add a Restriction</b></p>
            <form @submit.prevent="saveRestriction()">
                <table v-if="restriction">
                    <tr>
                        <td><label for="name">Name</label></td>
                        <td><input id="name" name="name" v-model="restriction.name" /></td>
                    </tr>
                    <tr>
                        <td><label for="key">Key</label></td>
                        <td><input id="name" name="name" v-model="restriction.key" /></td>
                    </tr>
                    <tr>
                        <td><label for="pattern">Pattern</label></td>
                        <td><input id="name" name="name" v-model="restriction.pattern" /></td>
                    </tr>
                    <tr>
                        <td><label for="note">Note</label></td>
                        <td><input id="note" name="note" v-model="restriction.note" /></td>
                    </tr>
                    <tr>
                        <td><label for="groups">Groups</label></td>
                        <td>
                            <select name="groups" v-model="restriction.groups">
                                <option :value="null">-- Select --</option>
                                <option v-for="g in groups" :value="g">{{ g.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button :disabled="saving">Save</button> 
                            <button @click.prevent="hide()">Cancel</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</template>