<script setup>
    import { ref, onMounted } from 'vue';
    import { Auth } from '@/js/auth.js';
    import AuthMessages from '@/views/auth/AuthMessages.vue';

    const showing = ref(false);
    const isWorking = ref(false);
    const status = ref(null);

    const show = (evt = null) => {
        if(evt) evt.preventDefault();
        showing.value = true;
    };

    const hide = (evt) => {
        if(evt) evt.preventDefault();
        showing.value = false;
    };

    const login = (evt) => {
        evt.preventDefault();
        status.value = null;
        isWorking.value = true;
        Auth.formLogin(evt.target)
            .then(result => {
                isWorking.value = false;
                status.value = result.status;
            })
            .catch(err => {
                alert(err);
                isWorking.value = false;
            });
    };

    defineExpose({show, hide});

    onMounted(() => {
        Auth.observe('triggerLogin', () => {
            if(!Auth.isLoggedIn)
                show();
        });
        Auth.observe('authUpdate', () => {
            if(Auth.isLoggedIn)
                hide();
        });
    });
</script>
<template>
    <div class="popup_dialog" :style="'display: ' + (showing ? 'block' : 'none')">
        <div>
            <AuthMessages :status="status" />
            <form @submit="login($event)">
                <table>
                    <tbody>
                        <tr><td><label for="email">Email</label></td><td><input id="email" name="email" /></td></tr>
                        <tr><td><label for="password">Password</label></td><td><input id="password" name="password" type="password" /></td></tr>
                        <tr><td colspan="2"><button :disabled="isWorking">Log In</button></td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</template>