<script setup>
    /**
     * Provides a style-able check box.
     */
    
    import "../../assets/forms.css";
    import { computed } from 'vue';

    if(window._chkId === undefined)
        window._chkId = 0;
    let i = ++window._chkId;
    const _chkId = `chk_${i}`;

    const props = defineProps([
        'modelValue',
        'name',
        'checked'
    ]);

    const emit = defineEmits(['update:modelValue', 'change'])

    const checked = computed({
        get() { return props.modelValue === true },
        set(v) { emit('update:modelValue', v === true) }
    });

    const change = (evt) => {
      emit('change', evt);
    };

</script>
<template>
    <input type="checkbox" v-model="checked" :name="name" :id="_chkId" @change="change($event)" />
    <label class="checkmark" :for="_chkId"></label>
</template>

<style scoped>
/* Hide the browser's default checkbox */
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Show the checkmark when checked */
.checkmark:after {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-align: center;
  content: "✓";
  padding: 0;
  margin: 0;
  opacity: 0;
  height: 1.5em;
  width: 1.5em;
}

/* On mouse-over, add a grey background color */
input:hover ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
input:checked ~ .checkmark:after {
  opacity: 1;
}
</style>