<script setup>
    /**
     * This component provides a textarea control that takes a Javascript Object and renders it as JSON (if possible).
     * The value returned from the component is the text value parsed back into a Javascript Object.
     */

    import "../../assets/forms.css";
    import { computed } from 'vue';

    const props = defineProps([
        'modelValue',
        'name'
    ]);

    const emit = defineEmits(['update:modelValue', 'change'])

    /**
     * Parses the value into an Object on update and renders it into text on set.
     */
    let _value = '';
    const value = computed({
        get() { 
            try {
                _value = JSON.stringify(props.modelValue);
            } catch(err) {
                // console.log(err.toString());
            }
            return _value;
        },
        set(v) {
            _value = v;
            try {
                const j = JSON.parse(_value);
                emit('update:modelValue', j)
            } catch(err) {
                // console.error(err);
            }
         }
    });

    const change = (evt) => {
      emit('change', evt);
    };

</script>
<template>
    <textarea v-model="value" @change="change($event)"></textarea>
</template>

