<script setup lang="ts">
    import { ref, onMounted } from "vue";
    import { RouterLink } from "vue-router";
    import { Auth } from "@/js/auth.js";

    const isLoggedIn = ref(false);
    const isAdmin = ref(false);

    onMounted(() => {
        Auth.observe('authUpdate', () => {
            isLoggedIn.value = Auth.isLoggedIn;
            isAdmin.value = Auth.isAdmin;
        });
        isLoggedIn.value = Auth.isLoggedIn;
        isAdmin.value = Auth.isAdmin;
    });
</script>

<template>
    <div id="main_menu">

        <div><a href="/rov/" title="Go Home"><img class="main_icon" src="../assets/icons/MSEA_1FullColour.png" 
            alt="Marine Spatial Ecology Analysis, Fisheries and Oceans Canada" /></a></div>
        
        <div class="main_menu_head">Annotation&nbsp;Database</div>
        <ul>
            <li><RouterLink to="/" title="Home">Home</RouterLink></li>
            <li><RouterLink to="/cruises" title="Cruises">Cruises</RouterLink></li>
            <li><RouterLink to="/text_search" title="Taxonomic Search">Taxonomic Search</RouterLink></li>
            <template v-if="isLoggedIn">
                <li><RouterLink to="/experiments" title="Experiments">Experiments</RouterLink></li>
            </template>
            <template v-if="isAdmin">
                <li><RouterLink to="/administration" title="Administration">Administration</RouterLink></li>
            </template>
        </ul>

        <div class="main_menu_head"><a href="https://msea.science/intertidal/" target="_blank" title="Intertidal drone maps.">Intertidal&nbsp;Database</a></div>

        <div class="main_menu_head"><a href="https://msea.science/specimens/" target="_blank" title="Specimen database.">Specimen&nbsp;Database</a></div>

        <div class="main_menu_head"><a href="https://msea.science/pmls/" target="_blank" title="PMLS database.">PMLS&nbsp;Database</a></div>

        <div class="main_menu_head">Other</div>
        <ul>
            <li><a href="https://msea.science/wiki/" title="MSEA Wiki" target="_blank">MSEA Wiki</a></li>
            <template v-if="isLoggedIn">
                <li><RouterLink to="/logout" title="Log Out">Log Out</RouterLink></li>
                <li><RouterLink to="/profile" title="User Profile">Profile</RouterLink></li>
            </template>
            <template v-else>
                <li><RouterLink to="/login" title="Log In">Log In</RouterLink></li>
                <li><RouterLink to="/register" title="Register">Register</RouterLink></li>
            </template>
            <li><RouterLink to="/contact" title="Contact Us">Contact Us</RouterLink></li>
            <li><RouterLink to="/about" title="About">About</RouterLink></li>
        </ul>
    </div>
</template>
