<script setup>
    import { onMounted, ref, reactive } from 'vue';
    
    const props = defineProps({
        // The class constructor for the entities managed by this component.
        entityCls: {type: Function, required: true},
        // A list of objects describing the display fields, an array of objects,
        // each with a label and name property.
        fields: {type: Array, required: false}
    });

    // A list of the loaded entities.
    const entities = reactive([]);
    // The field configuration.
    const fields = reactive([]);

    /**
     * Save the given entity.
     * @param {*} entity 
     * @param {*} evt 
     */
    const save = (entity, evt) => {
        evt.preventDefault();
        entity.save()
            .then(result => {})
            .catch(err => alert(err));
    };

    /**
     * Remove the entity.
     * @param {*} entity 
     * @param {*} evt 
     */
    const remove = (entity, evt) => {
        evt.preventDefault();
        if(confirm('Are you sure?')) {
            if(entity.id) {
                entity.destroy()
                    .then(result => {
                        entities.splice(entities.indexOf(entity), 1);
                    })
                    .catch(err => alert(err));
            } else {
                entities.splice(entities.indexOf(entity), 1);
            }
        }
    };

    /**
     * Add a new entity.
     * @param {*} evt 
     */
    const add = (evt) => {
        evt.preventDefault();
        entities.push(new props.entityCls());
    };

    /**
     * Load the entities.
     */
    const load = () => {
        entities.splice(0);
        props.entityCls.loadAll()
            .then(result => {
                entities.splice(0);
                entities.push(...result);
            })
            .catch(err => alert(err));
    };

    onMounted(() => {
        // If the fields list isn't set externally, use the default.
        if(!props.fields) {
            fields.push(...[
                {label: 'ID', name: 'id', editable: false},
                {label: 'Name', name: 'name', editable: true},
                {label: 'Note', name: 'note', editable: true}
            ]);
        } else {
            fields.push(...props.fields);
        }
        load();
    });
</script>

<template>

    <table class="grid">
        <tr>
            <th v-for="f in fields">{{ f.label }}</th>
            <th colspan="2"></th>
        </tr>
        <tr v-for="s in entities">
            <td v-for="f in fields">
                <template v-if="f.type && f.type == 'select'">
                    <select v-model="s[f.name]">
                        <option :value="null">-- Select One --</option>
                        <option v-for="o in f.options" :value="o.value">{{ o.label }}</option>
                    </select>
                </template>
                <template v-else>
                    <input v-if="f.editable" v-model="s[f.name]" />
                    <span v-else>{{ s[f.name] }}</span>
                </template>
            </td>
            <td><button :disabled="!s.dirty" @click="save(s, $event)" class="material-symbols" title="Save">save</button></td>
            <td><button @click="remove(s, $event)" class="material-symbols" title="Delete">delete</button></td>
        </tr>
        <tr>
            <td :colspan="fields.length + 2"><button @click="add($event)">Add</button></td>
        </tr>
    </table>

</template>