<script setup>
    import { reactive } from 'vue';

    // Define external props: the navigation object.
    const props = defineProps(['nav']);

    // Go to next page.
    const next = (evt) => {
        evt.preventDefault();
        props.nav.hasForward;
    }

    // Go to previous page.
    const previous = (evt) => {
        evt.preventDefault();
        props.nav.hasBackward;
    }

    // Select the item.
    const select = (item, evt) => {
        evt.preventDefault();
        item.select();
    }
</script>

<template>
    <form>
        <div v-if="nav" class="step_bar">
            <button :disabled="!(nav.state.current.previous && nav.state.current.previous.enabled)" @click="previous($event)">&lt;&lt; Back</button>
            <span v-for="item in nav.state.items">
                <button
                    :disabled="!item.enabled"
                    :class="item == nav.state.current ? 'import_btn_active' : 'import_btn_inactive'"
                    @click="select(item, $event)">
                    {{ item.state.name }}
                </button>
            </span>
            <button :disabled="!(nav.state.current.next && nav.state.current.next.enabled)" @click="next($event)">Next &gt;&gt;</button>
        </div>
    </form>
</template>