<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Abundance } from "@/js/rov/models.js";

    const fields = [
        {name: 'id', label: 'ID', editable: false},
        {name: 'name', label: 'Name', editable: true},
        {name: 'rank', label: 'Rank', editable: true},
        {name: 'source', label: 'Source', editable: true}
    ]
</script>

<template>
    <main>
        <h1>Abundance</h1>
        <p>This form is used to manage abundance levels from the ACFOR scale (and possible additions).</p>

        <SimpleEntityAdmin :entityCls="Abundance" :fields="fields" />
    </main>    
</template>