<script setup>
    // Admin form for annotation jobs. 
    // Note: there is a similar form in the imput for annotators section.

    import { onMounted, ref, reactive } from 'vue';
    import { AnnotationProtocol, AnnotationJob, AnnotationJobAnnotationProtocol } from "@/js/rov/models.js";
    import { Person } from "@/js/shared/models.js";
    import AddAnnotationProtocol from '@/views/popups/AddAnnotationProtocol.vue';

    const addAnnotationProtocolPopup = ref(null);    // Annotation protocol popup.

    const annotationJobs = reactive([]);        // List of annotation jobs.
    const annotationProtocols = reactive([]);   // List of annotation protocols.
    const selectedJob = ref(null);              // The currently selected job.
    const selectedProtocol = ref(null);         // The currently selected protocol.
    const working = ref(false);                 // Set to true while the protocol is saving.
    const personnel = reactive([]);             // A list of available people.

    /**
     * Save annotation job.
     * @param {*} evt 
     */
    const saveJob = () => {
        working.value = true;
        selectedJob.value.save()
            .then(() => {
                working.value = false;
            })
            .catch(err => {
                working.value = false;
                alert(err)
            });
    }

    /**
     * Delete the annotation job.
     * @param {*} evt 
     */
    const deleteJob = () => {
        if(!confirm("Are you sure?"))
            return;
        working.value = true;
        selectedJob.value.destroy()
            .then(() => {
                annotationJobs.splice(annotationJobs.indexOf(selectedJob.value), 1);
                working.value = false;
                selectedJob.value = null;
            })
            .catch(err => {
                working.value = true;
                alert(err);
            });
    }

    /**
     * Copies the selected protocol, selects the copy and add it to the list.
     * @param {*} evt 
     */
    const copyJob = () => {
        if(selectedJob.value) {
            selectedJob.value = selectedJob.value.clone();
            selectedJob.value.name = selectedJob.value.name + ' (Copy)';
            annotationJobs.push(selectedJob.value);
        }
    }

    /**
     * Create a new annotation job.
     */
    const createJob = () => {
        selectedJob.value = new AnnotationJob();
        annotationJobs.push(selectedJob.value);
    }

    /**
     * Add a new protocol to the given job. Linked through the AnnotationJobAnnotationProtocol object.
     * @param job 
     */
    const addProtocol = () => {
        const ajap = new AnnotationJobAnnotationProtocol();
        ajap.annotation_job = selectedJob.value;
        addAnnotationProtocolPopup.value.show(ajap, 'annotation_protocol', annotationProtocols);
    };

    /**
     * Remove the selected protocol from the job (linked through the AnnotationJobAnnotationProtocol instance).
     * @param p 
     */
    const removeProtocol = (p) => {
        selectedJob.value.annotation_protocols.splice(
            selectedJob.value.annotation_protocols.findIndex(item => {
                item.annotation_protocol.id == p.id
            }), 
        1);
    };

    /**
     * When a protocol is selected, add it to the job.
     */
    const selectProtocol = () => {
        const ajap = new AnnotationJobAnnotationProtocol();
        ajap.annotation_protocol = selectedProtocol.value;
        selectedJob.value.annotation_protocols.push(ajap);
        selectedProtocol.value = null;
    };

    onMounted(() => {
        Person.loadAll()
            .then(result => {
                personnel.push(...result);
            })
            .catch(alert);
        AnnotationProtocol.loadAll()
            .then(result => {
                annotationProtocols.push(...result);
            })
            .catch(alert);
        AnnotationJob.loadAll()
            .then(result => {
                annotationJobs.push(...result);
            })
            .catch(alert);
    });
</script>

<template>
    <div>
        <h1>Annotation Jobs</h1>

        <div>
            <form @submit.prevent="copyJob()">
                <select v-model="selectedJob">
                    <option v-if="!annotationJobs" :value="null">-- Loading... --</option>
                    <option v-else :value="null">-- Select One --</option>
                    <option v-for="j in annotationJobs" :value="j" :label="j.name" />
                </select>
                <button :disabled="!selectedJob" type="submit" name="action" value="copy" class="material-symbols">content_copy</button>
                <button @click.prevent="createJob()" class="material-symbols">add</button>
            </form>
        </div>

        <div v-if="selectedJob">
            <p><b>{{ selectedJob.name }}</b></p>
            <form enctype="multipart/form-data" @submit.prevent="saveJob()">
                <table>
                    <tr>
                        <th>Name</th>
                        <td><input v-model="selectedJob.name" /></td>
                    </tr>
                    <tr><th>Objective</th><td><textarea v-model="selectedJob.objective"></textarea></td></tr>
                    <tr><th>Note</th><td><textarea v-model="selectedJob.note"></textarea></td></tr>
                    <tr>
                        <th>Annotation Protocols</th>
                        <td>
                            <table>
                                <tr v-for="p in selectedJob.annotation_protocols">
                                    <td>{{ p.annotation_protocol ? p.annotation_protocol.name : '' }}</td>
                                    <td><button @click.prevent="removeProtocol(p)" class="material-symbols">delete</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select v-model="selectedProtocol" @change.prevent="selectProtocol()">
                                            <option>-- Select One --</option>
                                            <option v-for="p in annotationProtocols" :value="p">{{ p.name }}</option>
                                        </select>
                                    </td>
                                    <td><button @click.prevent="addProtocol()" class="material-symbols">add</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button :disabled="!selectedJob.dirty && !working" class="material-symbols">save</button>
                            <button :disabled="!selectedJob && !working" 
                                @click="deleteJob()" class="material-symbols">delete</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <AddAnnotationProtocol ref="addAnnotationProtocolPopup" />

</template>