<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { AnnotationSoftware } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Annotation Software</h1>
        <p>This form is used to manage software used for annotations.</p>

        <SimpleEntityAdmin :entityCls="AnnotationSoftware" :fields="fields" />
    </main>    
</template>