<script setup>
    // Admin form for annotation protocols. 
    // Note: there is a similar form in the imput for annotators section.

    import { onMounted, ref, reactive } from 'vue';
    import { AnnotationProtocol, MediumType } from "@/js/rov/models.js";
    import { Person, UploadedFile } from "@/js/shared/models.js";
    import { Net } from "@/js/util.js";

    const annotationProtocols = reactive([]);   // List of annotation protocols.
    const selectedProtocol = ref(null);         // The currently selected protocol.
    const protocolSaving = ref(false);          // Set to true while the protocol is saving.
    const personnel = reactive([]);             // A list of available people.
    const mediumTypes = reactive([]);           // A list of available medium types.
    const annotationSoftware = reactive([]);    // A list of available annotation software.

    // Species options for the drop-down.
    const species_options = ['All', 'Subset', 'None', 'Unknown'];
    // Units for intervals.
    const units = ['s', 'm'];

    /**
     * 
     * @param {*} url 
     * @param {*} evt 
     */
    const visitLink = (url, target) => {
        window.open(url, target);
    }

    /**
     * Save annotation protocol.
     * @param {*} evt 
     */
    const saveProtocol = (evt) => {
        evt.preventDefault();
        const formData = new FormData(evt.target);
        protocolSaving.value = true;
        selectedProtocol.value.save(null, formData)
            .then(result => {
                protocolSaving.value = false;
            })
            .catch(err => {
                alert(err)
                protocolSaving.value = false;
            });
    }

    /**
     * Delete the annotation protocol.
     * @param {*} evt 
     */
    const deleteProtocol = (evt) => {
        if(!confirm("Are you sure?"))
            return;
        evt.preventDefault();
        protocolSaving.value = true;
        selectedProtocol.value.destroy()
            .then(result => {
                annotationProtocols.splice(annotationProtocols.indexOf(selectedProtocol.value), 1);
                protocolSaving.value = false;
                selectedProtocol.value = null;
            })
            .catch(err => {
                protocolSaving.value = true;
                alert(err);
            });
    }

    /**
     * Copies the selected protocol, selects the copy and add it to the list.
     * @param {*} evt 
     */
    const copyProtocol = (evt) => {
        evt.preventDefault();
        if(selectedProtocol.value) {
            selectedProtocol.value = selectedProtocol.value.clone();
            selectedProtocol.value.name = selectedProtocol.value.name + ' (Copy)';
            annotationProtocols.push(selectedProtocol.value);
        }
    }

    /**
     * Create a new annotation protocol.
     */
    const createProtocol= (evt) => {
        evt.preventDefault();
        selectedProtocol.value = new AnnotationProtocol();
        annotationProtocols.push(selectedProtocol.value);
    }

    onMounted(() => {
        Person.loadAll()
            .then(result => {
                personnel.push(...result);
            })
            .catch(err => alert(err));
        MediumType.loadAll()
            .then(result => {
                mediumTypes.push(...result);
            })
            .catch(err => alert(err));
        AnnotationSoftware.loadAll()
            .then(result => {
                annotationSoftware.push(...result);
            })
            .catch(err => alert(err));
        AnnotationProtocol.loadAll()
            .then(result => {
                annotationProtocols.push(...result);
            })
            .catch(err => alert(err));
    });
</script>

<template>
    <div>
    <h1>Annotation Protocols</h1>

    <div>
        <form @submit="copyProtocol($event)">
            <select v-model="selectedProtocol">
                <option v-if="!annotationProtocols" :value="null">-- Loading... --</option>
                <option v-else :value="null">-- Select One --</option>
                <option v-for="p in annotationProtocols" :value="p" :label="p.name" />
            </select>
            <button :disabled="!selectedProtocol" type="submit" name="action" value="copy" class="material-symbols">content_copy</button>
            <button @click="createProtocol($event)" class="material-symbols">add</button>
        </form>
    </div>

    <div v-if="selectedProtocol">
        <p><b>{{ selectedProtocol.name }}</b></p>
        <form enctype="multipart/form-data" @submit="saveProtocol($event)">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input v-model="selectedProtocol.name" /></td>
                </tr>
                <tr>
                    <th>Creator</th>
                    <td>
                        <select v-model="selectedProtocol.creator">
                            <option>-- Select One --</option>
                            <option v-for="p in personnel"
                                :value="p">{{ p.last_name + ', ' + p.first_name + ' (' + p.email + ')'}}</option>
                        </select>
                        <button class="material-symbols">add</button>
                    </td>
                </tr>
                <tr>
                    <th>Medium Type</th>
                    <td>
                        <select v-model="selectedProtocol.medium_type">
                            <option>-- Select One --</option>
                            <option v-for="m in mediumTypes" :label="m.name" :value="m" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Annotation Software</th>
                    <td>
                        <select v-model="selectedProtocol.annotation_software">
                            <option>-- Select One --</option>
                            <option v-for="a in annotationSoftware" :label="a.name" :value="a" />
                        </select>
                    </td>
                </tr>
                <tr><th>Image Interval</th><td><input v-model="selectedProtocol.image_interval" />
                    <select v-model="selectedProtocol.image_interval_unit"><option v-for="u in units" :value="u" :label="u" /></select>
                </td></tr>
                <tr><th>Image Overlap</th><td><input type="checkbox" v-model="selectedProtocol.image_overlap" /></td></tr>
                <tr><th>Observation Interval</th><td><input v-model="selectedProtocol.observation_interval" />
                    <select v-model="selectedProtocol.observation_interval_unit"><option v-for="u in units" :value="u" :label="u" /></select>
                </td></tr>
                <tr><th>Habitat Interval</th><td><input v-model="selectedProtocol.habitat_interval" />
                    <select v-model="selectedProtocol.habitat_interval_unit"><option v-for="u in units" :value="u" :label="u" /></select>
                </td></tr>
                <tr><th>Field of View Interval</th><td><input v-model="selectedProtocol.fov_interval" />
                    <select v-model="selectedProtocol.fov_interval_unit"><option v-for="u in units" :value="u" :label="u" /></select>
                </td></tr>
                <tr>
                    <th>Invertebrate Species</th>
                    <td>
                        <select v-model="selectedProtocol.invertebrate_species">
                            <option>-- Select One --</option>
                            <option v-for="o in species_options" :value="o" :label="o" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Fish Species</th>
                    <td>
                        <select v-model="selectedProtocol.fish_species">
                            <option>-- Select One --</option>
                            <option v-for="o in species_options" :value="o" :label="o" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Algae Species</th>
                    <td>
                        <select v-model="selectedProtocol.algae_species">
                            <option>-- Select One --</option>
                            <option v-for="o in species_options" :value="o" :label="o" />
                        </select>
                    </td>
                </tr>
                <tr><th>Biogenic Habitat</th><td><input type="checkbox" v-model="selectedProtocol.biogenic_habitat" /></td></tr>
                <tr><th>Habitat Only</th><td><input type="checkbox" v-model="selectedProtocol.habitat_only" /></td></tr>
                <tr><th>Note</th><td><textarea v-model="selectedProtocol.note"></textarea></td></tr>
                <tr>
                    <th>Documents</th>
                    <td>
                        <span>Use this space to link or upload protocol documents or species guides. If you upload a file, 
                            the URL can be provided to indicate the source; if you do not upload a file, the URL is required. An uploaded
                            file will replace an existing file.</span>
                        <table v-if="selectedProtocol.documents.length > 0">
                            <tr><th></th><th colspan="2">File</th><th>Title</th><th>URL</th><th>Description</th><th></th><th></th></tr>

                            <tr v-for="doc in selectedProtocol.documents">
                                <td>
                                    <span v-if="doc.file && !doc.file.uploading && doc.file.id" :class="UploadedFile.fileIcons[doc.file.type]"></span>
                                </td>
                                
                                <td v-if="doc.file && !doc.file.uploading && !doc.file.id" colspan="2">
                                    <input type="file" 
                                        @change="doc.file.selectFile($event)" 
                                        @dragover="doc.file.fileDragOver($event)" 
                                        @drop="doc.file.fileDrop($event)" />
                                </td>
                                
                                <template v-else-if="doc.file && !doc.file.uploading && doc.file.id">
                                    <td><input v-model="doc.file.name" /></td>
                                    <td><button @click.prevent="doc.file.id = null" class="material-symbols">redo</button></td>
                                </template>

                                <td v-else-if="doc.file && doc.file.uploading" colspan="2">Uploading: {{ doc.file.status }}%</td>

                                <td><input v-model="doc.title" /></td>
                                <td><input v-model="doc.url" /></td>
                                <td><input v-model="doc.note" /></td>
                                <td><button @click.prevent="selectedProtocol.removeDocument(doc)" class="material-symbols">delete</button></td>
                                <td><button @click.prevent="doc.file.upload()" :disabled="!doc.file || doc.file.file==null" class="material-symbols">upload</button></td>
                                <td v-if="doc.url">                                    
                                    <button @click.prevent="visitLink(doc.url, '_blank')" class="material-symbols">link</button>
                                </td>
                                <td v-else-if="doc.file && doc.file.id">
                                    <button @click.prevent="Net.download(doc.file.id)" class="material-symbols">download</button>
                                </td>
                                <td v-else></td>
                            </tr>
                        </table>
                        <p v-else>None Added</p>
                        <button @click.prevent="selectedProtocol.addDocument()">Add a Document</button>
                    </td>
                </tr>
            </table>
            <button :disabled="!selectedProtocol.dirty && !protocolSaving" class="material-symbols">save</button>
            <button :disabled="!selectedProtocol && !protocolSaving" 
                @click="deleteProtocol($event)" class="material-symbols">delete</button>
        </form>
    </div>
</div>
</template>