<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Biocover } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Biocover</h1>
        <p>This form is used to manage biocover types, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Biocover" />
    </main>    
</template>