<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Complexity } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Complexity (Relief)</h1>
        <p>This form is used to manage complexity levels, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Complexity" />
    </main>    
</template>