<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { ObservationConfidence } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Observation Confidence</h1>
        <p>This form is used to manage observation confidence levels, which are used in habitat and species observations.</p>

        <SimpleEntityAdmin :entityCls="ObservationConfidence" />
    </main>    
</template>