<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Coverage } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true}, 
        {label: 'Minimum', name: 'minimum', editable: true},
        {label: 'Maximum', name: 'maximum', editable: true}
    ];
    
</script>

<template>
    <main>
        <h1>Coverage (Substrate, Biocover)</h1>
        <p>This form is used to manage coverage levels, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Coverage" :fields="fields" />
    </main>    
</template>