<script setup>
    import { onMounted, reactive, ref } from 'vue';
    import { Net } from '@/js/util';
    import { Cruise, CruiseProgram, CruiseCrew, Platform, 
        CruiseRole, Program, _Model, CruiseFirstNationContact, 
        CruiseDocument} from '@/js/rov/models.js';
    import { Person, UploadedFile } from '@/js/shared/models.js';
    import VueDatePicker from '@vuepic/vue-datepicker';
    import AddProgram from '@/views/popups/AddProgram.vue';
    import AddPerson from '@/views/popups/AddPerson.vue';
    import AddCruiseRole from '@/views/popups/AddCruiseRole.vue';

    const cruise = ref(null);           // A Cruise model instance, the one being viewed/modified.
    const cruises = reactive([]);       // A list of available cruises.
    const ships = reactive([]);         // All of the available ships (platforms).
    const people = reactive([]);        // All of the available people.
    const cruiseRoles = reactive([]);   // All of the available cruise roles.
    const programs = reactive([]);      // All of the available programs.
    
    // Popup references.
    const program_popup = ref(null);
    const user_popup = ref(null);
    const role_popup = ref(null);

    const approvals = ['Not Approved', 'Pending', 'Approved'];
    
    const allowUpload = true;
    const loading = ref(false);         // Set to true when data are loading.

    /**
     * Save the selected cruise.
     */
     const saveCruise = () => {
        // Create a form and save the cruise with it.
        cruise.value.save()
            .then(result => {
                cruise.value = result;
            })
            .catch(alert);
    }
    
    /**
     * Delete the selected cruise. Sets the selected cruise to null on success.
     */
     const deleteCruise = () => {
        if(confirm('Are you sure? All subsidiary entities will be deleted as well!')) {
            cruise.value.destroy()
                .then(() => {
                    cruises.splice(cruises.indexOf(cruise.value), 1);
                    cruise.value = null;
                })
                .catch(alert);
        }
    }
    
    /**
     * Add a program to the programs lookup.
     */
    const addProgram = () => {
        cruise.value.addProgram(new CruiseProgram());
    }

    /**
     * Remove a program.
     * @param {*} p 
     */
     const removeProgram = (p) => {
        cruise.value.removeProgram(p);
    }

    /**
     * Raise the create program popup.
     */
     const createProgram = (p) => {
        program_popup.value.show(p, 'program', programs);
    }

    /**
     * Add a crew member.
     */
    const addCrew = () => {
        cruise.value.addCrew(new CruiseCrew());
    }

    /**
     * Remove a crew member.
     * @param {*} c 
     */
     const removeCrew = (c) => {
        cruise.value.removeCrew(c);
    }

    /**
     * Create a person and add it to the crew list.
     */
    const createPerson = (c) => {
        user_popup.value.show(c, 'person', people);
    }

    /**
     * Create a cruise role and add it to the list.
     */
    const createRole = (c) => {
        role_popup.value.show(c, 'role', cruiseRoles);
    }

    /**
     * Add a First Nation contact.
     */
    const addFNContact = () => {
        cruise.value.addFNContact(new CruiseFirstNationContact());
    }

    /**
     * Remove first nations contact.
     * @param {*} c 
     */
     const removeFNContact = (c) => {
        cruise.value.removeFNContact(c);
    }

    /**
     * Create a new cruise and add it to the list.
     */
    const addCruise = () => {
        cruise.value = new Cruise(); 
        cruises.push(cruise.value);
    }

    /**
     * Add a document to the currently-selected cruise.
     */
    const addDocument = () => {
        cruise.value.documents.push(new CruiseDocument());
    }

    /**
     * Load the lookups necessary to configure a cruise.
     */
    const loadAll = () => {
        if(loading.value)
            return;
        loading.value = true;
        CruiseRole.loadAll()
            .then(result => {
                cruiseRoles.push(...result);
            })
            .catch(alert);
        Person.loadAll()
            .then(result => {
                people.push(...result);
            })
            .catch(alert);
        Platform.loadShips()
            .then(result => {
                ships.push(...result);
            })
            .catch(alert);
        Program.loadAll()
            .then(result => {
                programs.push(...result);
            })
            .catch(alert);
        Cruise.loadAll({filter: {unapproved: true}})
            .then(result => {
                cruises.push(...result);
            })
            .catch(alert);
    };

    onMounted(() => {
        loadAll();
    });
</script>

<template>
    <main>

        <h1>Cruises</h1>

        <div>
            <h3>Select or Add a Cruise</h3>
            <select v-model="cruise">
                <option v-if="!cruises.length" :value="null" disabled>-- Loading... --</option>
                <option v-else :value="null" disabled>-- Select One --</option>
                <option v-for="c in cruises" :value="c">{{ c.name + ' - ' + c.leg }}</option>
            </select>
            <button @click.prevent="addCruise()" class="material-symbols" title="Add a new cruise">add</button>
        </div>

        <div v-if="cruise">
            <form application="multipart/form-data" id="cruise_form">
                <h3>Cruise Information</h3>
                <p>Fill in the form below to provide metadata about the cruise. The cruise and leg must be unique.</p>
                <table>
                    <tbody>
                        <tr>
                            <th><label for="name">Cruise Name</label></th>
                            <td><input id="name" v-model="cruise.name" /></td>
                        </tr>
                        <tr>
                            <th><label for="leg">Leg</label></th>
                            <td><input id="leg" type="number" step="1" v-model="cruise.leg" /></td>
                        </tr>
                        <tr>
                            <th><label for="start_date">Start Date</label></th>
                            <td><VueDatePicker id="start_date" 
                                v-model="cruise.start_time" format="yyyy-MM-dd" utc="preserve" /></td>
                        </tr>
                        <tr>
                            <th><label for="end_date">End Date</label></th>
                            <td><VueDatePicker id="end_date" 
                                v-model="cruise.end_time" format="yyyy-MM-dd" utc="preserve" /></td>
                        </tr>
                        <tr>
                            <th><label for="objective">Objective</label></th>
                            <td><textarea id="objective" v-model="cruise.objective"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="note">Operational Notes</label></th>
                            <td><textarea id="note" v-model="cruise.note"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="summary">Summary</label></th>
                            <td><textarea id="summary" v-model="cruise.summary"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="admin_note">Admin Notes</label></th>
                            <td><textarea id="admin_note" v-model="cruise.admin_note"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="ship">Ship</label></th>
                            <td>
                                <select id="ship" v-model="cruise.ship"> 
                                    <option v-if="ships.length == 0" disabled :value="null">-- Loading... --</option>
                                    <option v-else disabled :value="null">-- Select One --</option>
                                    <option v-for="s in ships" :value="s">{{ s.name }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="approved">Approved</label></th>
                            <td>
                                <select id="approved" v-model="cruise.approved">
                                    <option :value="null" disabled>-- Select One --</option>
                                    <option v-for="(label, i) in approvals" :value="i">{{ label }}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3>Associated Programs</h3>
                <p>A cruise can optionally be associated with one or more programs. Click <button class="inline-button">Add</button> to add 
                    an association. Click <button class="inline-button">Create a Program</button> if the program doesn't yet exist.</p>
                <table v-if="cruise.programs && cruise.programs.length > 0">
                    <tbody>
                        <!-- The cruise.programs list is actually a list of CruiseProgram entities, which contain Programs. -->
                        <tr v-for="(p, i) in cruise.programs">
                            <td>
                                <!-- The select chooses a Program to put in the CruiseProgram. -->
                                <select v-model="cruise.programs[i].program"> 
                                    <option v-if="programs.length == 0" disabled :value="null">-- Loading... --</option>
                                    <option v-else disabled :value="null">-- Select One --</option>
                                    <option v-for="ps in programs" :value="ps">{{ ps.name }}</option>
                                </select>
                            </td>
                            <td><button @click.prevent="createProgram(p)" class="material-symbols">add</button></td>
                            <td><button @click.prevent="removeProgram(p)" class="material-symbols">delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <table v-else>
                    <tbody>
                        <tr><td>None Added</td></tr>
                    </tbody>
                </table>
                <button @click.prevent="addProgram()">Add</button> 

                <h3>Personnel</h3>
                <p>Assign personnel to the cruise by clicking <button class="inline-button">Add</button>. If a person has more than one role, 
                    you can add them multiple times, each time with a different role. If the person or role isn't available in the list, 
                    add them by clicking <button class="inline-button">Create a Person</button> or 
                    <button class="inline-button">Create a Role</button>, respectively.</p>
                <table v-if="cruise.crew && cruise.crew.length > 0">
                    <tbody>
                        <tr><th>Person</th><th></th><th>Role</th><th></th></tr>
                        <tr v-for="(p, i) in cruise.crew">
                            <td>
                                <select v-model="p.person">
                                    <option v-if="!people" disabled :value="null">-- Loading... --</option>
                                    <option v-else disabled :value="null">-- Select One --</option>
                                    <option v-for="ps in people" :value="ps">{{ ps.last_name + ', ' + ps.first_name }}</option>
                                </select>
                            </td>
                            <td><button @click.prevent="createPerson()" class="material-symbols">add</button></td>
                            <td>
                                <select v-model="p.cruise_role">
                                    <option v-if="!cruiseRoles" disabled :value="null">-- Loading... --</option>
                                    <option v-else disabled :value="null">-- Select One --</option>
                                    <option v-for="cr in cruiseRoles" :value="cr">{{ cr.name }}</option>
                                </select>
                            </td>
                            <td><button @click.prevent="createRole()" class="material-symbols">add</button></td>
                            <td><button @click.prevent="removeCrew(p)" class="material-symbols">delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <table v-else>
                    <tbody>
                        <tr><td>None Added</td></tr>
                    </tbody>                    
                </table>
                <button @click.prevent="addCrew()">Add</button>

                <h3>First Nations Contacts</h3>
                <p>Add First Nations contacts to the cruise by clicking <button class="inline-button">Add</button>.</p>
                <table v-if="cruise.first_nation_contacts && cruise.first_nation_contacts.length > 0">
                    <tbody>
                        <tr>
                            <th>Nation</th><th>Contact Name</th><th>Email</th><th>Phone</th><th>Note</th>
                        </tr>
                        <tr v-for="c in cruise.first_nation_contacts">
                            <td><input v-model="c.nation" /></td>
                            <td><input v-model="c.contact_name" /></td>
                            <td><input v-model="c.email" /></td>
                            <td><input v-model="c.phone" /></td>
                            <td><input v-model="c.note" /></td>
                            <td><button @click.prevent="removeFNContact(c)" class="material-symbols">delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <table v-else>
                    <tbody>
                        <tr><td>None Added</td></tr>
                    </tbody>
                </table>
                <button @click.prevent="addFNContact()">Add</button>

                <template v-if="allowUpload">
                    <h3>Documents</h3>
                    <p>Use this space to link or upload protocol documents or species guides. If you upload a file, 
                        the URL can be provided to indicate the source; if you do not upload a file, the URL is required. An uploaded
                        file will replace an existing file.</p>
                    <!-- List the documents if there are any. -->
                    <table v-if="cruise.documents.length > 0">
                        <tbody>
                            <tr><th colspan="2">File</th><th>Title</th><th colspan="2">URL</th><th>Note</th><th></th><th></th></tr>
                            <!-- Iterate through the document items. -->
                            <tr v-for="(doc, i) in cruise.documents">

                                <td>
                                    <span v-if="!doc.file.uploading && doc.file.id" :class="UploadedFile.fileIcons[doc.file.type]"></span>
                                </td>

                                <template v-if="!doc.uploading && !doc.file.id" colspan="2">
                                    <td>
                                        <input type="file" 
                                            @change="doc.file.selectFile($event)" 
                                            @dragover="doc.file.dragOver($event)" 
                                            @drop="doc.file.dragDrop($event)" />
                                    </td>
                                    <td><button @click.prevent="doc.file.upload()" :disabled="doc.file.name==null" class="material-symbols">upload</button></td>
                                </template>

                                <template v-else-if="!doc.file.uploading && doc.file.id">
                                    <td><input v-model="doc.file.name" :disabled="true" /></td>
                                    <td><button @click.prevent="doc.file.reset()" class="material-symbols">refresh</button></td>
                                </template>

                                <td v-else-if="doc.file.uploading" colspan="2">Uploading: {{ doc.file.status }}%</td>

                                <td><input v-model="doc.title" /></td>
                                <td><input v-model="doc.url" /></td>
                                <td><button v-if="doc.url" @click.prevent="window.open(doc.url, '_blank')" class="material-symbols">link</button></td>
                                <td><input v-model="doc.note" /></td>
                                <td><button @click.prevent="cruise.removeDocument(doc)" class="material-symbols">delete</button></td>

                                <!--//
                                <td class="nowrap">
                                    !-- Show a link to the file if there is one. --
                                    <a v-if="!d.dirty" 
                                        :href="Net.API + '/cruises/' + cruise.id + '/documents/' + d.id + '/file/'" 
                                        target="_blank">{{ d.file_name }}</a>
                                    !-- Otherwise show the selected file if there is one. --
                                    <span v-else>{{ d.file_name }}</span>
                                    !-- Store the index of this document element. Relates to the file upload below. --
                                    <input type="hidden" :value="i" />
                                    <input @change="fileSelected('file_' + i, d, $event)" style="display:none" 
                                        :id="'file_' + i" :name="'file_' + i" type="file" />
                                </td>
                                <td>
                                    !-- The file upload button for field above. --
                                    <button @click.prevent="selectFile('file_' + i)" class="material-symbols">upload</button>
                                </td>
                                <td><input id="file_note" v-model="d.note" /></td>
                                <td>
                                    <button @click.prevent="removeDocument(d)" class="material-symbols">delete</button>
                                </td>
                                //-->
                            </tr>
                        </tbody>                        
                    </table>
                    <p v-else>None Added</p>
                    <button @click.prevent="addDocument()">Add a Document</button>
                </template>

            </form>
        </div>

        <div v-if="cruise">
            <hr />
            <button @click.prevent="saveCruise()" :disabled="!(cruise && cruise.dirty)" >Save</button>
            <button @click.prevent="deleteCruise()" :disabled="!cruise">Delete</button>
        </div>

        <AddProgram ref="program_popup" />

        <AddPerson ref="user_popup" />

        <AddCruiseRole ref="role_popup" />


    </main>    
</template>
