<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Disturbance } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Disturbance</h1>
        <p>This form is used to manage disturbance levels, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Disturbance" />
    </main>    
</template>