<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { DiveRole } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Dive Role</h1>
        <p>This form is used to manage dive roles -- the role a crew member will play on a dive.</p>

        <SimpleEntityAdmin :entityCls="DiveRole" :fields="fields" />
    </main>    
</template>