<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { EquipmentType } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Category', name: 'category', editable: true, type: 'select', options: [{value: 'Platform', label: 'Platform'}, {label: 'Instrument', value: 'Instrument'}]},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Equipment Type</h1>
        <p>This form is used to manage equipment types for platforms and instruments.</p>

        <SimpleEntityAdmin :entityCls="EquipmentType" :fields="fields" />
    </main>    
</template>