<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Flow } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Flow</h1>
        <p>This form is used to manage current flow levels, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Flow" />
    </main>    
</template>