<script setup>
    import { onMounted, reactive, ref } from 'vue';
    import { Platform, Instrument, _Model, EquipmentType } from '@/js/rov/models.js';
    import { Organisation } from '@/js/shared/models.js';

    const expanded = reactive(new Map());       // Map of expanded models: model => true/false
    const organisations = reactive([]);         // List of organisations.
    const equipment_types = reactive([]);      // List of instrument types (equipment_type, category='Instrument').
    const equipment = reactive(new Map());        // List of platform types (equipment_type, category='Platform').
    
    const loading = ref(false);

    const categories = reactive([
        {
            title: 'Platform Models',
            description: 'This table contains the platform models. Expand a model record to see individual instances of the model. In most cases (e.g., ships) there will only be one platform for any given model.',
            category: 'Platform'
        },
        {
            title: 'Instrument Models',
            description: 'This table contains the instrument models. Expand a model record to see individual instances of the model.',
            category: 'Instrument'
        }
    ]);

    /**
     * Save an entity (any class).
     * @param {*} entity 
     */
    const saveEntity = (entity) => {
        entity.save()
            .then(result => {})
            .catch(alert);
    }

    /**
     * Add a model.
     */
     const addModel = (category) => {
        // Add the new model and an empty list of instances.
        const m = new _Model();
        m.equipment_type = new EquipmentType();
        m.equipment_type.category = category;
        equipment.set(m, []);
    }

    /**
    /**
     * Remove the model; delete if saved.
     * @param {*} model The model.
     */
    const removeModel = (model) => {
        if(confirm('Are you sure?')) {
            if(model.id > 0) {
                model.destroy()
                    .then(result => equipment.delete(model))
                    .catch(alert);
            } else {
                equipment.delete(model);
            }
        }
    }

    /**
     * Add a platform.
     * @param {*} model The platform's model.
     */
    const addEquipment = (model) => {
        let e = null;
        if(model.equipment_type.category == 'Platform') {
            e = new Platform();
        } else {
            e = new Instrument();
        }
        e.model = model;
        equipment.get(model).push(e);
    }

    /**
     * Remove a platform.
     * @param {*} pf The platform.
     */
    const removeEquipment = (e) => {
        if(confirm('Are you sure?')) {
            // Get the array of instances for the model, then destroy the instance.
            if(e.id > 0) {
                e.destroy()
                    .then(() => equipment.get(e.model).splice(equipment.get(e.model).indexOf(e), 1))
                    .catch(alert);
            } else {
                equipment.splice(equipment.get(e.model).indexOf(e), 1);
            }
        }
    }

    /**
     * Toggle the visibility of the model's platforms/instruments.
     * @param {*} model 
     */
    const toggle = (model) => {
        expanded.set(model, !expanded.get(model));
    }

    /**
     * Load all of the necessary entities.
     */
    const loadAll = () => {
        if(loading.value)
            return;
        loading.value = true;
        // Load owning organizations.
        organisations.splice(0);
        Organisation.loadAll()
            .then(result => {
                organisations.splice(0);
                organisations.push(...result);
            })
            .catch(alert);

        equipment_types.splice(0);
        equipment.clear();

        const et = new Set();

        // Load the platforms.
        Platform.loadAll()
            .then(result => {
                result.forEach(item => {
                    et.add(item.model.equipment_type);
                    if(!equipment.has(item.model))
                        equipment.set(item.model, []);
                    equipment.get(item.model).push(item);
                    equipment_types.splice(0);
                    equipment_types.push(...Array.from(et));
                });
            })
            .catch(alert);
        Instrument.loadAll()
            .then(result => {
                result.forEach(item => {
                    et.add(item.model.equipment_type);
                    if(!equipment.has(item.model))
                        equipment.set(item.model, []);
                    equipment.get(item.model).push(item);
                });
                equipment_types.splice(0);
                equipment_types.push(...Array.from(et));
            })
            .catch(alert);   
    }

    onMounted(() => {
        loadAll();
    });

</script>

<template>
    <main>
        <h1>Hardware</h1>
        <p>This page is for managing the inventory of platforms and instruments used on MSEA surveys.</p>
        <p>In general, a platform is a vehicle, an ROV, submersible, drop camera platform or ship. An instrument is
            something that collects information, a CTD, video camera, hydrophone, thermometer, GPS, etc.</p>
        <p>The general structure of the hardware inventory is as follows: every actual instance of an instrument or platform 
            is distinguish by its unique characteristics, perhaps a serial number or name given by MSEA. Every instrument
            or platform belongs to an abstract class, the model. For example, MSEA may have several GoPro Hero4 cameras,
            which are referenced by individual records in the instrument table. They are all linked to a single record
            in the model table.</p>

        <template v-for="cat in categories">
            <h2>{{ cat.title }}</h2>
            <p>{{ cat.description }}</p>

            <table class="grid">
                <tr><th>ID</th><th>Brand Name</th><th>Model Name</th><th>Attributes</th><th>Note</th><th>Equipment Type</th><th colspan="3"></th></tr>
                <tbody v-for="model in Array.from(equipment.keys()).filter(m => m.equipment_type.category == cat.category)">
                    <tr>
                        <td>{{ model.id }}</td>
                        <td><input v-model="model.brand_name" /></td>
                        <td><input v-model="model.model_name" /></td>
                        <td><input v-model="model.attributes" /></td>
                        <td><input v-model="model.note" /></td>
                        <td>
                            <select v-model="model.equipment_type">
                                <option v-if="equipment_types.size == 0" disabled :value="null">-- Loading... ---</option>
                                <option v-else disabled :value="null">-- Select One ---</option>
                                <option v-for="et in equipment_types.filter(e => e.category == cat.category).sort((a, b) => a.name.localeCompare(b.name))" :value="et">{{ et.name }}</option>
                            </select>
                        </td>
                        <td><button :disabled="!model.dirty" @click.prevent="saveEntity(model)" class="material-symbols" title="Save">save</button></td>
                        <td><button @click.prevent="removeModel(model)" class="material-symbols" title="Delete">delete</button></td>
                        <td><button @click.prevent="toggle(model)" class="material-symbols" title="Expand Members">expand_more</button></td>
                    </tr>
                    <tr v-if="expanded.get(model)">
                        <td colspan="9">
                            <table>
                                <tr>
                                    <th>ID</th><th>Name</th><th>Serial Number</th><th>Note</th><th>Attributes</th>
                                    <th>Retired</th><th>Organisation</th><th colspan="2"></th>
                                </tr>
                                <tr v-for="item in equipment.get(model)">
                                    <td>{{ item.id }}</td>
                                    <td><input v-model="item.name" /></td>
                                    <td><input v-model="item.serial_number" /></td>
                                    <td><input v-model="item.note" /></td>
                                    <td><input v-model="item.attributes_json" /></td>
                                    <td><input v-model="item.retired" type="checkbox" /></td>
                                    <td>
                                        <select v-model="item.organisation">
                                            <option v-if="organisations.length == 0" disabled :value="null">-- Loading... ---</option>
                                            <option v-else disabled :value="null">-- Select One ---</option>
                                            <option v-for="org in organisations" :value="org">{{ org.name }}</option>
                                        </select>
                                    </td>
                                    <td><button :disabled="!item.dirty" @click.prevent="saveEntity(item)" class="material-symbols" title="Save">save</button></td>
                                    <td><button @click.prevent="removeEquipment(item)" class="material-symbols" title="Delete">delete</button></td>
                                </tr>
                                <tr>
                                    <td colspan="9"><button @click.prevent="addEquipment(model)">Add Item</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td colspan="9"><button @click.prevent="addModel(cat.category)">Add Model</button></td>
                </tr>
            </table>

        </template>
        
    </main>    
</template>