<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { ImageQuality } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Image Quality</h1>
        <p>This form is used to manage image quality levels, which are used in observations.</p>

        <SimpleEntityAdmin :entityCls="ImageQuality" />
    </main>    
</template>