<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { MeasurementType } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Unit', name: 'unit', editable: true},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Measurement Type</h1>
        <p>This form is used to manage types for measurements such as those produced by CTDs or other instruments.</p>

        <SimpleEntityAdmin :entityCls="MeasurementType" :fields="fields" />
    </main>    
</template>