<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { MediumFormat, MediumType } from "@/js/rov/models.js";
    import { onMounted } from "vue";

    const selectItem = {label: 'Medium Type', name: 'medium_type', editable: true, type: 'select', options: []};

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        selectItem,
        {label: 'Note', name: 'note', editable: true},
    ];

    onMounted(() => {
        MediumType.loadAll()
            .then(result => {
                result.forEach(item => {
                    selectItem.options.push({value: item, label: item.name});
                });
            })
            .catch(alert);
    })
</script>

<template>
    <main>
        <h1>Medium Format</h1>
        <p>This form is used to manage medium formats, such as JPG and MP4.</p>

        <SimpleEntityAdmin :entityCls="MediumFormat" :fields="fields" />
    </main>    
</template>