<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { MediumType } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Medium Type</h1>
        <p>This form is used to manage medium types, such as video and photo.</p>

        <SimpleEntityAdmin :entityCls="MediumType" :fields="fields" />
    </main>    
</template>