<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { PositionType } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Note', name: 'note', editable: true},
    ];
</script>

<template>
    <main>
        <h1>Position Type</h1>
        <p>This form is used to manage types for positions such as those produced by GPSes, acoustic transponders or other instruments.</p>

        <SimpleEntityAdmin :entityCls="PositionType" :fields="fields" />
    </main>    
</template>