<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { ProgramRole } from "@/js/rov/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true},
        {label: 'Note', name: 'note', editable: true}
    ];
</script>

<template>
    <main>
        <h1>Program Roles</h1>
        <p>This form is used to manage program roles. These are the roles that individuals perform with respect to a program.</p>

        <SimpleEntityAdmin :entityCls="ProgramRole" :fields="fields" />
    </main>    
</template>