<script setup>
    import { onMounted, reactive } from 'vue';
    import { Program, ProgramMember, ProgramRole } from "@/js/rov/models.js";

    const programs = reactive([]);          // List of programs.
    const programRoles = reactive([]);      // List of program roles.
    const people = reactive([]);            // List of people.
    const expanded = reactive(new Map());   // Map of expanded items.

    const saveProgram = (program, evt) => {
        evt.preventDefault();
        program.save()
            .then(result => {})
            .catch(err => alert(err));
    }

    const removeProgram = (program, evt) => {
        evt.preventDefault();
        if(confirm('Are you sure?')) {
            programs.splice(programs.indexOf(program), 1);
            if(program.id > 0) {
                program.destroy()
                    .then(result => {})
                    .catch(err => alert(err));
            }
        }
    }

    const addProgram = (evt) => {
        evt.preventDefault();
        const program = new Program();
        expanded.set(program, false);
        programs.push(program);
    }

    const loadPrograms = () => {
        programs.splice(0);
        Program.loadAll()
            .then(result => {
                result.forEach(item => expanded.set(item, false));
                programs.push(...result);
            })
            .catch(err => alert(err));
    }

    const addMember = (program, evt) => {
        evt.preventDefault();
        expanded.set(program, true);
        program.members.push(new ProgramMember());
    }

    const removeMember = (program, member, evt) => {
        evt.preventDefault();
        if(confirm('Are you sure?')) {
            program.members.splice(program.members.indexOf(member), 1);
            if(member.id > 0) {
                member.destroy()
                    .then(result => {})
                    .catch(err => alert(err));
            }
        }
    }

    const toggle = (program, evt) => {
        expanded.set(program, !expanded.get(program));
    }

    onMounted(() => {
        ProgramRole.loadAll()
            .then(result => programRoles.push(...result))
            .catch(err => alert(err));
        Person.loadAll()
            .then(result => people.push(...result))
            .catch(err => alert(err));
        loadPrograms();
    });
</script>

<template>
    <div>
        <h1>Programs</h1>
        <p>These are scientific or other programs under whose auspices scientific cruises are undertaken. 
            At the present time, this is mainly a record-keeping placeholder.</p>
        
        <table>
            <tr><th>Name</th><th>Objective</th><th>Notes</th><th>Start Date</th><th>End Date</th><th colspan="3"></th></tr>
            <tbody v-for="p in programs">
                <tr>
                    <td><input v-model="p.name" /></td>
                    <td><input v-model="p.objective" /></td>
                    <td><input v-model="p.note" /></td>
                    <td><input v-model="p.start_date" /></td>
                    <td><input v-model="p.end_date" /></td>
                    <td><button :disabled="!p.dirty" @click="saveProgram(p, $event)" class="material-symbols" title="Save">save</button></td>
                    <td><button @click="removeProgram(p, $event)" class="material-symbols" title="Delete">delete</button></td>
                    <td><button @click="toggle(p, $event)" class="material-symbols" title="Expand Members">expand_more</button></td>
                </tr>
                <tr v-if="expanded.get(p)">
                    <td colspan="8">
                        <table>
                            <tr v-for="m in p.members">
                                <td>
                                    <select v-model="m.person">
                                        <option v-if="people.length == 0" disabled :value="null">-- Loading... --</option>
                                        <option v-else disabled :value="null">-- Select One --</option>
                                        <option v-for="p in people" :value="p">{{ p.last_name + ', ' + p.first_name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="m.role">
                                        <option v-if="programRoles.length == 0" disabled :value="null">-- Loading... --</option>
                                        <option v-else disabled :value="null">-- Select One --</option>
                                        <option v-for="r in programRoles" :value="r">{{ r.name }}</option>
                                    </select>
                                </td>
                                <td><button @click="removeMember(p, m, $event)" class="material-symbols" title="Remove Member">delete</button></td>
                            </tr>
                            <tr><td><button @click="addMember(p, $event)">Add Member</button></td></tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tr>
                <td colspan="5"><button @click="addProgram($event)">Add</button></td>
            </tr>
        </table>
    </div>
</template>