<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Protocol } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Survey Protocol</h1>
        <p>This form is used to manage survey protocols, which are used in observations from older surveys, such as those
            annotated using VideoMiner. New surveys use a separate annotation protocol entity.</p>

        <SimpleEntityAdmin :entityCls="Protocol" />
    </main>    
</template>