<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Relief } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Relief</h1>
        <p>This form is used to manage relief levels, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Relief" />
    </main>    
</template>