<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Restriction } from "@/js/shared/models.js";

    const fields = [
        {label: 'ID', name: 'id', editable: false},
        {label: 'Name', name: 'name', editable: true}, 
        {label: 'Key', name: 'key', editable: true}, 
        {label: 'Pattern', name: 'pattern', editable: true}, 
        {label: 'Note', name: 'note', editable: true},
        
    ];
    
</script>

<template>
    <main>
        <h1>Restrictions</h1>
        <p>This form is used to manage restrictions, which hide specific observations from public view.</p>
        <p>The key is the name of a field to which the pattern must match. The pattern is a string of characters with optional
            wildcards (%) which match arbitrary characters. The match is case-insensitive.</p>
        <p>For example, if you want to match the word "Abalone" in the <i>common_name</i> field, you can use, "Abalone" as the pattern,
            or "abalone" or "%balon%". To match all fields, use "*" as the key.
        </p>

        <SimpleEntityAdmin :entityCls="Restriction" :fields="fields" />
    </main>    
</template>