<script setup>
    import { onMounted, reactive } from 'vue';
    import { StatusType, StatusTypeDetail } from "@/js/rov/models.js";

    // Loaded list of status types.
    const statusTypes = reactive([]);
    // Map of items -> true/false to indicate whether the item is expanded.
    const expanded = reactive(new Map());

    /**
     * Save the entity.
     * @param {*} entity 
     * @param {*} evt 
     */
    const save = (entity, evt) => {
        evt.preventDefault();
        entity.save()
            .then(result => {})
            .catch(err => alert(err));
    };

    /**
     * Remove a status type.
     * @param {*} st 
     * @param {*} evt 
     */
    const removeStatusType = (st, evt) => {
        evt.preventDefault();
        if(confirm('Are you sure?')) {
            statusTypes.splice(statusTypes.indexOf(st), 1);
            if(st.id) {
                st.destroy()
                    .then(result => {})
                    .catch(err => alert(err));
            }
        }
    };

    /**
     * Remove a detail.
     * @param {*} st 
     * @param {*} std 
     * @param {*} evt 
     */
    const removeStatusTypeDetail = (st, std, evt) => {
        evt.preventDefault();
        if(confirm('Are you sure?')) {
            st.details.splice(st.details.indexOf(std), 1);
            if(std.id) {
                std.destroy()
                    .then(result => {})
                    .catch(err => alert(err));
            }
        }
    };

    /**
     * Add a type.
     * @param {*} evt 
     */
    const addStatusType = (evt) => {
        evt.preventDefault();
        const st = new StatusType();
        expanded.set(st, false);
        statusTypes.push(st);
    };

    /**
     * Add a detail.
     * @param {*} statusType 
     * @param {*} evt 
     */
    const addStatusTypeDetail = (statusType, evt) => {
        expanded.set(statusType, true);
        const std = new StatusTypeDetail();
        std.status_type = statusType.id;
        statusType.details.push(std);
    };

    /**
     * Load the types.
     */
    const loadStatusTypes = () => {
        statusTypes.splice(0);
        StatusType.loadAll()
            .then(result => {
                result.forEach(item => {
                    expanded.set(item, false);
                    item.loadDetails();
                });
                statusTypes.push(...result);
            })
            .catch(err => alert(err));
    };

    /**
     * Toggle type expansion to see/hide details.
     * @param {*} obj 
     * @param {*} evt 
     */
    const toggle = (obj, evt) => {
        evt.preventDefault();
        expanded.set(obj, !expanded.get(obj));
    };

    onMounted(() => {
        loadStatusTypes();
    });
</script>

<template>
    <div>
        <h1>Status Types</h1>
        <p>This form is used to manage status types and status type details. Status types describe high-level status events
            like on- or off-transect, while the subsidiary detail objects describe reasons or details of those events. For
            example, and on-transect event has no specific detail, but a vehicle can be off transect for any number of reasons.</p>
        <table class="grid">
            <tr><th>ID</th><th>Name</th><th>Note</th><th colspan="3"></th></tr>
            <template v-for="st in statusTypes">
                <tr>
                    <td>{{ st.id }}</td>
                    <td><input v-model="st.name" /></td>
                    <td><input v-model="st.note" /></td>
                    <td><button :disabled="!st.dirty" @click="save(st, $event)" class="material-symbols" title="Save">save</button></td>
                    <td><button @click="removeStatusType(st, $event)" class="material-symbols" title="Delete">delete</button></td>
                    <td><button @click="toggle(st, $event)" class="material-symbols" title="Expand Details">expand_more</button></td>
                </tr>
                <tr v-if="expanded.get(st)">
                    <td colspan="7">
                        <table>
                            <tr v-for="std in st.details">
                                <td>{{ std.id }}</td>
                                <td><input v-model="std.name" /></td>
                                <td><input v-model="std.note" /></td>
                                <td><button :disabled="!std.dirty" @click="save(std, $event)" class="material-symbols">save</button></td>
                                <td><button @click="removeStatusTypeDetail(st, std, $event)" class="material-symbols">delete</button></td>
                            </tr>
                            <tr>
                                <td colspan="6"><button @click="addStatusTypeDetail(st, $event)">Add Detail</button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </template>
            <tr>
                <td colspan="6"><button @click="addStatusType($event)">Add Type</button></td>
            </tr>
        </table>
    </div>
</template>