<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Substrate } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Substrates</h1>
        <p>This form is used to manage habitat substrates. These are the habitat-forming substances (rocks, gravel, shell, etc.) That
            comprise the basis of a habitat.</p>

        <SimpleEntityAdmin :entityCls="Substrate" />
    </main>    
</template>