<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { SurveyMode } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Survey Modes</h1>
        <p>This form is used to manage survey modes, which are used in observations from older surveys such
            as those annotated with VideoMiner.</p>

        <SimpleEntityAdmin :entityCls="SurveyMode" />
    </main>    
</template>