<script setup>
    import SimpleEntityAdmin from "@/components/SimpleEntityAdmin.vue";
    import { Thickness } from "@/js/rov/models.js";
</script>

<template>
    <main>
        <h1>Thickness (Biocover)</h1>
        <p>This form is used to manage thickness levels, which are used in habitat observations.</p>

        <SimpleEntityAdmin :entityCls="Thickness" />
    </main>    
</template>