<script setup>
    import { onMounted, reactive, ref } from 'vue';
    import { Cruise, _Model } from '@/js/rov/models.js';
    import TransectForm from '@/components/admin/TransectForm.vue';

    const app = reactive({
        cruise: null,
        dive: null,
        transect: null,
        cruises: [],
        dives: [],
        transects: []
    });

    const loading = ref(false);

    const saveTransect = (evt) => {
        evt.preventDefault();
        app.transect.save();
    }
    
    const deleteTransect = (evt) => {
        evt.preventDefault();
        if(confirm('Are you sure?')) {
            const transect = app.transect;
            app.transect = null;
            transect.destroy()
                .then(() => {
                    app.transects.splice(app.transects.indexOf(transect), 1);
                })
                .catch(alert);
        }
    }
    
    const loadAll = () => {
        if(loading.value)  
            return;
        loading.value = true;
        Cruise.loadAll({filter: {unapproved: true}})
            .then(result => {
                app.cruises.push(...result);
            });
    };

    onMounted(() => {
        loadAll();
    });
</script>

<template>
    <main>
        <h1>Transects</h1>

        <TransectForm :application="app" />

        <p>
            <button @click="saveTransect($event)" :disabled="!(app.transect && app.transect.dirty)">Save</button>
            <button @click="deleteTransect($event)" :disabled="!app.transect">Delete</button>
        </p>
    </main>    
</template>