<script setup>
    import { onMounted, reactive } from 'vue';
    import { useRoute } from 'vue-router'
    import { User, Group } from '@/js/auth/models.js';
    import { Net } from '@/js/util';

    const categories = User.categories;                         // The available categories for filtering.
    const status = [['new', 'New Signups'], ['all', 'All']];    // The list of statuses to filter on.
    const org_types = User.categories;                          // The list of organization types.
    const users = reactive([]);                                 // The list of users.
    const groups = reactive([]);                                // A list of user groups.
    const filter = reactive({});                                // The filter applied to the users list.
    const showing = reactive({});                               // The users with advanced info currently being shown.

    /**
     * Configures the parameters for loading users by formatting
     * the filter object.
     * Returns an object suitable for use in User.loadAll.
     */
    const getParams = () => {
        const params = {filter: {}};
        for(let [k, v] of Object.entries(filter)) {
            if(v)
                params.filter[k] = v;
        }
        return params;
    };

    /**
     * Save the user.
     */
    const saveUser = (user, evt) => {
        if(evt) evt.preventDefault();
        user.save();
    };
    
    /**
     * Toggle visibility for extended details of the user.
     */
    const toggleUser = (user, evt) => {
        if(evt) evt.preventDefault();
        showing[user.id] = !showing[user.id];
    };

    /**
     * Reload the users list. Allows the use of filter parameters.
     */
    const reload = (evt) => {
        if(evt) evt.preventDefault();
        User.loadAll(getParams())
            .then(result => {
                users.splice(0);
                users.push(...result);
                users.forEach(user => {
                    showing[user.id] = false;
                });
            })
            .catch(alert);
        Group.loadAll()
            .then(result => {
                groups.splice(0);
                groups.push(...result);
            })
            .catch(alert);
    };

    /**
     * Send a verification email to the user.
     * @param {*} user 
     * @param {*} evt 
     */
    const sendVerification = (user, evt) => {
        evt.preventDefault();
        Net.get(`${Net.API}/account/verification/?email=${user.email}&action=resend`)
            .then(result => {
                if(result.success)
                    user.refresh();
            })
            .catch(alert);
    };

    /**
     * Send the password recovery email to the user.
     * @param {*} user 
     * @param {*} evt 
     */
    const sendRecovery = (user, evt) => {
        evt.preventDefault();
        Net.get(`${Net.API}/account/password_reset/?email=${user.email}&action=send`)
            .then(result => {
                if(result.success)
                    user.refresh();
            })
            .catch(alert);
    };

    const filterComp = (a, b) => {
        return (a || '').toLowerCase().indexOf(b) > -1;
    };

    /**
     * Filter the user list.
     */
    const filtered = (users) => {
        if(filter.text) {
            let f = filter.text.toLowerCase();
            users = users.filter(u => {
                return filterComp(u.email, f) ||
                    filterComp(u.first_name, f) ||
                    filterComp(u.last_name, f) ||
                    filterComp(u.organization, f);
            });
        }
        return users;
    };

    /**
     * Clear the given property on the filter.
     */
    const clearFilter = (name, evt) => {
        evt.preventDefault();
        filter[name] = null;
    };

    onMounted(() => {
        // Populate the default email filter from the query string.
        filter.text = useRoute().query.filter;
        reload();
    });
</script>

<template>
    <main>
        <h1>User Administration</h1>
        <p>Manage users.</p>

        <table>
            <caption>Filter by:</caption>
            <tr>
                <th><label for="filter_category">Category</label></th>
                <td>
                    <select id="filter_category" v-model="filter.category" @change="reload($event)">
                        <option :value="null">-- Select One --</option>
                        <option v-for="c in categories" :value="c">{{ c }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="filter_status">Status</label></th>
                <td>
                    <select id="filter_status" v-model="filter.status" @change="reload($event)">
                        <option :value="null">-- Select One --</option>
                        <option v-for="s in status" :value="s[0]">{{ s[1] }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="filter_text">Text</label></th>
                <td>
                    <input id="filter_text" v-model="filter.text" />
                    <button @click="clearFilter('text', $event)" class="material-symbols">clear</button>
                </td>
            </tr>
        </table>

        <table class="grid">
            <tr>
                <th>ID</th><th>Active</th><th>Last Name</th><th>First Name</th>
                <th>Email</th><th>Organization</th><th>Org Type</th><th>Groups</th>
                <th colspan="2"></th>
            </tr>
            <tbody v-for="user in filtered(users)">
                <tr>
                    <td>{{ user.id }}</td>
                    <td><input type="checkbox" v-model="user.is_active" /></td>
                    <td><input v-model="user.last_name" /></td>
                    <td><input v-model="user.first_name" /></td>
                    <td><input v-model="user.email" /></td>
                    <td><input v-model="user.organization" /></td>
                    <td>
                        <select v-model="user.org_type">
                            <option :value="null">-- Select One --</option>
                            <option v-for="t in org_types" :value="t">{{ t }}</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="user.groups" multiple size="1">
                            <option :value="null">-- Select One --</option>
                            <option v-for="g in groups" :value="g">{{ g.name }}</option>
                        </select>
                    </td>
                    <td>
                        <button :disabled="!user.dirty" class="material-symbols" @click="saveUser(user, $event)"
                            title="Save user.">save</button>
                    </td>
                    <td>
                        <button v-if="showing[user.id]" class="material-symbols" @click="toggleUser(user, $event)"
                            title="Hide user metadata.">visibility_off</button>
                        <button v-else class="material-symbols" @click="toggleUser(user, $event)"
                            title="Show user metadata.">visibility</button>
                    </td>
                </tr>
                <tr v-if="showing[user.id]">
                    <td colspan="8">
                        <table class="grid">
                            <tr>
                                <th><label>Additional Information</label></th>
                                <td>
                                    <table>
                                        <tr>
                                            <th><label>Registration Time</label></th>
                                            <td><input disabled :value="user.date_joined" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Registration IP</label></th>
                                            <td><input disabled :value="user.registration_ip || 'Unknown'" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Location</label></th>
                                            <td><input disabled :value="user.registration_location == null ? 'Unknown' : user.registration_location" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>In Region</label></th>
                                            <td><input disabled :value="user.ip_in_region" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Signup Reason</label></th>
                                            <td><textarea v-model="user.registration_reason"></textarea></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th><label>Verification</label> <button @click="sendVerification(user, $event)">Send</button></th>
                                <td>
                                    <table>
                                        <tr>
                                            <th><label>Verified</label></th>
                                            <td><input type="checkbox" disabled :checked="user.verification_time != null" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Code</label></th>
                                            <td><input v-model="user.verification_code" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Expiry</label></th>
                                            <td><input v-model="user.verification_expiry" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Time</label></th>
                                            <td><input v-model="user.verification_time" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th><label>Password Recovery</label> <button @click="sendRecovery(user, $event)">Send</button></th>
                                <td>
                                    <table>
                                        <tr>
                                            <th><label>Code</label></th>
                                            <td><input v-model="user.password_reset_code" /></td>
                                        </tr>
                                        <tr>
                                            <th><label>Expiry</label></th>
                                            <td><input v-model="user.password_reset_expiry" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th><label>Registration Note</label></th>
                                <td><textarea v-model="user.registration_note"></textarea></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</template>