<template>
    <main>
        <h1>Experiments</h1>
        <p>These are experimental applications, not ready for prime time (or just for fun).</p>
        <ul>
            <li><a href="/rov/experiments/box_plot" title="Box Plots">Box Plots</a>: A a search tool that displays results as 
                box plots showing taxa vs. water properties.</li>
            <li><a href="/rov/experiments/taxon_search" title="Hierarchical Search">Hierarchical Search</a>: A hierarchical search that allows 
                navigation through the taxonomic heirarchy in order to search through the descendents of a common taxon.
                Uses the <a href="https://marinespecies.org" title="WoRMS Database" target="_blank">WoRMS database</a>, which 
                preserves parent-child relationships via the AphiaID.
            </li>
        </ul>
    </main>
</template>